// --------------------------------------
// BaseKit Standard Theme: LESS > Plugins
// --------------------------------------

// -----------------------------
// #Table of Contents
// -----------------------------
//  1.   #BLOG
//  2.   #MENU
//  3.   #E-COMMERCE

// -----------------------------
// 1. Blog Post List
// -----------------------------

.widget__blogpostlist {
    width: 104%;
    margin-bottom: 40px;
    @media @tablet {
        width: 100%;
    }
}

.blogpostlist .post-article {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin-right: 3%;
    margin-bottom: 30px;
    @media @tablet {
        width: 100%;
        margin-right: 0px;
    }
}

.blogpostlist__post-image {
    height: 450px;
}

.blogpostlist__post-image a.image-link {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
}

.blogpostlist__post-image a.image-link img.image {
    display: none;
}

//Post Content

.blogpostlist__post-excerpt p {
    padding-bottom: 25px;
}

.blogpostlist__read-more {
    font-family: @font__button--font-family;
    font-size: 12px;
    color: @color__button--text;
    font-weight: @font__button--font-weight;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing:0px;
    background-color: @color__button--background;
    &:hover {
        background-color: @color__button--background--hover;
        color: @color__button--text--hover;
        cursor: pointer;
        .transition (all, 0.2s, ease);
    }
}

//Blog List Footer

.blogpostlist__post-footer {
    font-size: 0.9em!important;
}

.blogpostlist__post-footer time.timestamp {
    font-style: italic;
    float: right;
    padding: 14px 0px;
    font-size: 0.9em;
}

//Footer Pagination Items
footer.post-list-footer {
    width: 96%;
}

footer.post-list-footer nav.post-pagination {
    text-align: center;
}

//Post List Footer older/newer Toggle

.blogpostlist__pagination-item {
    display: inline-block;
}

a.button.button--pagination.button--previous,
a.button.button--pagination.button--next {
    margin: 0 1em;
    border-bottom: 1px solid @color__link--text;
    text-transform: uppercase;
    color: @color__link--text;
    background-color: transparent;
    font-weight: 400;
    width: 96%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    &:before,
    &:after {
        display: none;
    }
    &:hover {
        box-shadow: 0 1.5px 0 @color__link--text;
        font-weight: 700;
        letter-spacing: 0.25px;
    }
}

//Blog Post Single

.blogpost__post-image {
    height: 450px;
}

.blogpost__post-image a.image-link {
    height: 100%;
    background-size: cover;
    background-position: center center;
    margin-bottom: 40px;
    background-color: transparent;
    img.image {
        display: none;
    }
}

.blogpost__post-content {
    border-bottom: 1px solid @color__primary;
    padding-bottom: 25px;
}

.blogpost__post-footer {
    time.timestamp {
        float: left;
        font-size: 0.9em !important;
        border-right: 1px solid @color__primary;
        padding-right: 20px;
        margin: 5px 0;
    }
}

.blogpost__post-attributes {
    display: inline;
}

.blogpost__post-category,
.blogpost__post-tags {
    display: inline;
    border-right: 1px solid @color__primary;
    padding: 0px 20px;
    text-transform: uppercase;
}

.blogpost__tag-link,
.blogpost__category-link {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.9em!important;
    margin: 0px 5px;
    color: @color__link--text;
    &:hover {
        text-decoration: none;
        color: darken(@color__link--text, 15%);
    }
}

//Social Sharing Icon Group

.blogpost__sharing-links {
    float: right;
    position: relative;
}

//Social Sharing Blog Post Icons

.blogpost__network-item {
    margin: 0 0 0 10px;
    button.button.icon.icon--facebook,
    button.button.icon.icon--twitter,
    button.button.icon.icon--googleplus {
        height: 35px;
        display: inline-block;
        background-color: @color__button--background;
        color: @color__button--text;
        font-size: 12px;
        text-transform:uppercase;
        &:before {
            font-size: 16px!important;
        }
        &:hover {
            background-color: @color__button--background--hover;
            color: @color__button--text--hover;
            .transition (all, 0.1s, ease);
            outline: none;
        }
    }
}


@media @tablet {
    .blogpost__sharing-links {
        float: left;
        position: relative;
        text-align: center;
        top: 0px;
        width: 100%;
        padding: 0px;
    }
	
    //Social Sharing Blog Post Icons
	
    .blogpost__network-item {
		margin: 0 5px;
        button.button.icon.icon--facebook,
        button.button.icon.icon--twitter,
        button.button.icon.icon--googleplus {
            width: auto;
            display: block;
            text-align: center;
            margin: 0 auto;
            height: 35px;
            text-transform: uppercase;
            background-color: @color__button--background;
            color: @color__socialicons--icon;
            &:before {
                font-size: 16px!important;
            }
            &:hover {
                .transition (all, 0.1s, ease);
                background-color: @color__button--background--hover;
                outline: none;
            }
            &:active {
                .transition (all, 0.1s, ease);
                outline: none;
            }
        }
    }
}

// -----------------------------
// 1. #BLOG SEARCH
// -----------------------------

.blogsearch__fieldset {
    margin: 0px auto 10px;
    display: table;
    width: 100%;
    text-align: center;
}

// -----------------------------
// 2. #MENU
// -----------------------------

.menu__section-header {
    margin-bottom: 25px;
}
//Menusection Toggle (Categories)
.menusections-body {
    text-align: center;
    margin: 0 0 40px;
}

a.menu-item-name {
    border-bottom: 1px solid @color__link--text;
    font-family: @font__button--font-family;
    padding: 10px;
    text-transform: uppercase;
    color: @color__primary;
    font-weight: 400;
    background-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:before,
    &:after {
        display: none;
    }
    &:hover {
        box-shadow: 0 1.5px 0 @color__link--text;
        font-weight: 400;
        text-decoration: none;
        color: darken(@color__link--text, 15%);
        background-color: transparent;
        .transition (all, 0.2s, ease);
    }
}

//Menu Widget

.widget__menu {
    margin-bottom: 40px;
}

.menu-section .menu-items {
    text-align: center;
}
.menusetions__menusections-item,
.menusections-item {
    line-height: 50px;
}
.menu-item {
    padding: 30px;
    @media @mobile {
        padding: 0px;
    }
}
h3.menu__item-title {
    color: @color__blogpost-title--text;
}
h3.menu__section-subtitle {
    color: @color__blogpost-title--text;
    text-transform:none;
}
h4.menu__item-subtitle {
    color: @color__blogpost-title--text;
}

.menu .item-image .image-link {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    line-height: 1px;
    width: 100%;
}

.menu .item-image .image {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.menu-subsection,
.menu-section {
    margin-bottom: 30px;
    padding: 30px;
    background-color: transparent;
    text-align: center;
    margin: 1.5em 0;
    @media @mobile {
        padding: 0px;
    }
}

footer.section-footer {
    text-align: center;
}

//Featured Menu- Sections

section.menu-section--featured {
    border: 15px solid @color__button--background;

}

.menu-item--featured,
.menu-section--featured {
    padding: 30px;
    background-color: transparent!important;
    border: 15px solid @color__button--background;

}

//Section Header

header.section.header {
    text-align: center;
    padding-bottom: 2em;
}

.section-subtitle {
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
}

//Item Footer

.item-footer {
    .item-price p {
        color: @color__p--text;
        font-family: @font-swatch4-font-family;
        font-size: @font__button--font-size;
    }
    .item-subtitle {
        text-transform: uppercase;
        padding: 15px 0px 0px 0px;
    }
    .item-subtitle,
    .item-details {
        font-size: 12px;
    }
    ul.menu__dietary-list {
        padding:0px;
    }
    .dietary-list {
        margin-top: 10px;
    }
    .dietary-item {
        text-transform: uppercase;
        font-size: 0.9em !important;
        margin: 0px 5px;
        font-weight: 400;
        font-family: @font__h1--font-family;
        color: @color__link--text;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &:hover {
            color: darken(@color__link--text, 10%);
            text-decoration: none;
        }
    }
}

// -----------------------------
// 3. #E-COMMERCE
// -----------------------------

// Products List
// -------------

.widget__ecomproductslist,
.widget__ecomfeaturedproducts {
    max-width: none;
    margin-left: 0;
    margin-bottom: 40px;
}

h2.ecomfeaturedproducts__listing-title {
    padding: 20px 0px;
}
.ecomproductslist__product-filters {
    margin-left: 0;
    margin-bottom: 40px;
}
.product-filters .input--search {
    height: 50px;
}

.fieldset--filters {
    .form-group {
        width: 31.333%;
        select {
            background-size: 5.5%!important;
        }
    }
}

.columns-two-left,
.columns-two-right {
    .fieldset--filters {
        .form-group {
            width: 46.333%;
            select {
                background-size: 5.5%!important;
            }
        }
    }
}

.ecomproductslist__listing-body,
.ecomfeaturedproducts__listing-body {
	margin-left: -3%;
	margin-right: -3%;
    @media @mobile {
		margin-left: 0;
		margin-right: 0;
    }
}

.ecomproductslist__product-list,
.ecomfeaturedproducts__product-list {
	position: static;
	margin: 0;
    padding: 0px;
}

.ecomproductslist__product-item,
.ecomfeaturedproducts__product-item {
    display: inline-block;
    width: 26.9%;
    padding: 0;
    vertical-align: top;
    overflow: hidden;
	margin: 10px 3% 15px;
    @media @tablet {
        width: 43%;
    }
    @media @mobile {
        width: 100%;
        margin-right: 0;
		margin-left: 0;
        padding: 0px
    }
}
a.ecomfeaturedproducts__title-link,
a.ecomproductslist__title {
    font-weight:400;
    &:hover {
        color: darken(@color__h3--text, 5%);
        font-weight:400;
    }
}
.product-item-title {
    margin-bottom: 5px;
    @media @tablet {
        line-height: 22px;
    }
    a {
        @media @tablet {
            font-size: 0.9em!important;
        }
        @media @mobile {
            font-size: 0.8em!important;
        }
    }
}

.product-item-image {
    display: block;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    overflow: hidden;
    background-color: #ffffff;
}

.product-item-details {
    padding-top: 1em;
    border-top: 1px solid @color__body--background;
    text-align: center;
    padding-bottom: 25px;
}

.ecomproductslist__listing-footer {
	clear: both;
}

.ecomproductslist__pagination-list {
    text-align: center;
    border-top: 1px solid darken(@color__body--background, 7%);
	padding: 10px 0;
	margin: 0;
    .current {
        color: @color__primary;
        border: 1px solid @color__primary;
    }
}

.ecomproductslist__button--clear {
    background-color: @color__button--background;
    color: @color__button--text;
    text-transform: uppercase;
    border-bottom: 1px solid @color__button--text;
    &:hover {
        box-shadow: 0 1.5px 0 @color__button--text;
        background-color: transparent;
        .transition (all, 0.1s, ease);
    }
}

.ecomproductslist__pagination-item {
    font-family: @font__button--font-family;
    color: @color__button--text;
    font-size: @font__button--font-size;
    font-weight: @font__button--font-weight;
    line-height: @font__button--line-height;
    border: 1px solid darken(@color__body--background, 7%);
    margin: 5px 10px 0 0;
    padding: 8px;
    text-decoration: none;
    &:hover {
        border: 1px solid @color__button--text--hover;
    }
    a.button {
        background-color: @color__button--background;
        color: @color__button--text;
    }
}

// ECOM PRODUCT
// ------------

.ecomproduct__button {
	@media @mobile {
		margin-left: auto;
		margin-right: auto;
	}
}

// ECOM PRODUCT ITEMS
// ------------------

.ecomproduct__product-images {
    width: 50%;
    float: left;
    margin-right: 40px;
    @media @tablet {
        width: 40%!important;
    }
    @media @mobile {
        width: 100%!important;
    }
}

.ecomproduct__product-image {
    a.image-link {
        margin-bottom: 1em;
        height: auto;
        max-width: 100%;
    }
}

.ecomproduct__product-gallery {
    padding: 0px;
    .ecomproduct__gallery-item {
        height: 50px;
        width: 50px;
        line-height: 50px;
        float: left;
        text-align: left;
        margin: 0 0.5em 0.5em 0;
    }
}

.ecomproduct__product-content {
    width: 41%;
    display: inline-block;
    @media @tablet {
        width: 44%!important;
    }
    @media @mobile {
        width: 100%!important;
    }
}

.columns-two-left,
.columns-two-right {
    .ecomproduct__product-content {
        width: 100%!important;
    }
}
.ecomproduct__product-header {}

.ecomproduct__product-body {}

.ecomproduct__product-actions {
    display: inline;
    button.button.icon.icon--add,
    a.button.icon.icon--basket {
        padding: 12px 35px;
        margin: 0 0 10px;
        font-family: @font__button--font-family;
        font-size: @font__button--font-size;
        font-weight: @font__button--font-weight;
        background-color: @color__button--background;
        color: @color__button--text;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        &:hover {
            background-color: @color__button--background--hover;
            color: @color__button--text--hover;
            cursor: pointer;
        }
    }
}

.form.ecomproduct__form {
 margin-top:10px;   
}

select.ecomproduct__select {
    background-size:10.5%;
}
a.tag-link,
a.category-link {
    margin: 0 1em;
    font-family: @font__button--font-family;
    text-transform: uppercase;
    color: @color__link--text;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 400;
    &:before,
    &:after {
        display: none;
    }
    &:hover {
        font-weight: 400;
        text-decoration: none;
        color: darken(@color__link--text, 15%);
        .transition (all, 0.2s, ease);
    }
}

.bk-zone column columns-two-left,
.bk-zone column columns-two-right {
    .product-content {
        width: 100%;
        @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
            width: 100%!important;
        }
    }
}

.ecomcategorieslist__category-list {
    list-style:none;
    text-align:center;
}
.ecomcategorieslist__category-item {
    display:inline-block;
    font-weight: 400;
}

/* ===============================
ECOM - BASKET BUTTON
================================== */

.widget__ecombasket {
    button.basket-toggle {
        padding: 12px 35px;
        margin: 0 0 10px;
        font-family: @font__button--font-family;
        font-size: @font__button--font-size;
        font-weight: @font__button--font-weight;
        background-color: @color__button--background;
        color: @color__button--text;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        &:hover {
            background-color: @color__button--background--hover;
            color: @color__button--text--hover;
            cursor: pointer;
        }
        &:before,
        &:after {
            display: none;
        }
    }
}

// -------------------------------
// 4. #Basket Summary
// -------------------------------

// Basket Summary Heading

.summary-table .table-row--heading {
    @media @tablet {
        display: none;
    }
}

// Basket Summary Content

.summary-table .cell--header {
    margin-bottom: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    background-color: transparent;
}

.summary-table .cell {
    vertical-align: middle !important;
    @media @tablet {
		flex-direction: column;
		display: block;
    }
}

.basket-summary__summary-section {
    text-align: left;
}

.basket-summary__summary-form {
    border: 0;
    padding: 0;
}

.ecombasketsummary__summary-table,
.ecombasketsummary__summary-form {
    position: relative;
    width: 100%;
    &:before {
        display: none;
    }
    @media @mobile {
        margin: 20px auto;
    }
}

.ecombasketsummary__summary-table {
    margin: 20px 0;
    border: none;
}

.ecombasketsummary__quantity-field {
    color: @color__p--text;
	display: table-cell;
	vertical-align: middle;
    @media @tablet {
        margin: 0 12px;
    }
}

.summary-table .table-row {
    border-left: none;
    border-right: none;
    @media @tablet {
        flex-direction: column;
    }
}

.ecombasketsummary__cell {
    @media @tablet {
        text-align: center;
    }
}

.summary-table .cell {
    padding: 25px 12px;
    text-align: center;
    border-left: none;
    border-right: none;
    @media @mobile {
        padding: 8px 12px;
        display: block;
    }
}

.summary-table .cell--image,
.summary-table .cell--title,
.summary-table .cell--quantity,
.summary-table .cell--price,
.summary-table .cell--total {
    @media @tablet {
        width: auto !important;
		border-bottom: none;
    }
}

.summary-table .cell--image,
.summary-table .cell--title {
    @media @tablet {
		padding-bottom: 0;
    }
}

.summary-table .cell--image {
    @media @tablet {
    }
}

.summary-table .cell--title {
    text-align: left !important;
    @media @tablet {
		border-top: none;
		padding: 10px 30px 0;
		p.summary-item-title {
			border-bottom: 1px solid @color__secondary;
			text-align: center;
		}
    }
    @media @mobile {
        text-align: center !important;
    }
}

.quantity-wrap .button--quantity {
    @media @tablet {
		line-height: 25px;
    }
}

.summary-table .cell--quantity {
    @media @tablet {
		border-top: none;
		padding: 20px 0 10px;
    }
    @media @mobile {
		border-top: none !important;
    }
}


.summary-table .cell--price,
.summary-table .cell--total {
    text-transform: uppercase;
    font-weight: 600;
	border-top: 0;
    @media @tablet {
		padding: 5px 12px;
        width: 100%;
        text-align: center;
    }
    @media @mobile {
        width: 100%;
        height: 70px;
        text-align: center;
    }
}

.summary-table .cell--total {
    @media @tablet {
		padding: 5px 12px 25px;
    }
}


a.ecombasketsummary__summary-item-link {
    text-transform: uppercase;
    font-family: @font__h1--font-family;
    font-weight: @font__h1--font-weight;
    font-size: @font-swatch6-font-size;
    color: @color__p--text;
    letter-spacing: 0px;
    &:hover {
        font-weight: @font__h1--font-weight;
        color: darken(@color__p--text, 5%);
        letter-spacing:0px;
    }
    @media @mobile {
        text-align: center;
        font-size: 18px;
    }
}

.summary-table .cell--header:first-child {
    text-align: left!important;
}

.summary-table .cell--quantity {
    width: 17%;
	min-width: 150px;
    @media @tablet {
        width: 25%;
    }
    @media @mobile {
        width: 100%!important;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        border-top: 1px solid @color__link--text;
    }
}

.summary-table .cell--order-total {
    @media @tablet {
		padding: 8px 12px;
    }
	.ecombasketsummary__order-total {
		@media @tablet {
			text-align: center;
		}
	}
}

//Proceed to checkout Button

.ecombasketsummary__summary-form {
    text-align: right;
    @media @tablet {
        text-align: center;
    }
}

.ecombasketsummary__image {
    max-width: 140px;
    margin: 0px auto;
    display: table;
}

.ecombasketsummary__summary-item-link {
    background-image: none !important;
}

.quantity-wrap .button--quantity {
    width: 30px;
    height: 30px;
    font-weight: 700;
	line-height: 0;
	display: table-cell;
	vertical-align: middle;
    @media @tablet {
		line-height: 25px;
    }
    @media @mobile {
        width: 25px;
        height: 25px;
    }
}

.ecombasketsummary__quantity-wrap {
    display: table;
    background-color: transparent;
    color: @color__button--text;
    width: 100%;
    @media @tablet {
        min-width: 100%!important;
    }
    @media @mobile {
        min-width: 100%!important;
        margin: 10px auto;
    }
}

button.ecombasketsummary__quantity-minus,
button.ecombasketsummary__quantity-plus {
    font-weight: 300;
    font-size: 22px!important;
    &:hover {
        background-color: @color__button--background;
        font-weight: 700;
    }
}

.ecombasketsummary__order-total {
    text-align: right;
    @media @mobile {
        text-align: center;
    }
}

// Categories links

.category-list.ecomcategorieslist__category-list {
	margin-left: 0;
	padding-left: 0;
}