// THEME

// Variables

@message-color--standard: #6e6e6e;
@message-color--error: #d20000;
@message-color--warning: #ffbc0b;
@message-color--information: #aae6e8;
@message-color--success: #bae914;
@message-color--not-found: #6e6e6e;

// TYPOGRAPHY

// Colour Variables

@bg-color: @color-swatch7;
@button-color: @color__button--background;
@spare-color: @color-swatch7;

// Font Swatches

// CUSTOM PAGE

body.edit .widget.navigation,
body.edit .widget.extendednavigation {
    overflow: visible;
}

// Default Page Style

.bk-pt-default .bk-header {
    border-bottom: 1px solid @color__form--border;
}

// HEADER & #BK-NAV

.navigation--flex-container {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 1em 40px;
    background-color: @color__header--background;
    flex-direction: row;
	.box-sizing--border-box();
	max-width: 1400px;
	font-size: @font__navigation--font-size;

	@media @desktop-larger {
        width: 80%;
	}

	@media @desktop-large {
        width: 88%;
	}

    @media @tablet {
        flex-direction: column;
        padding: 1em 0;
    }

	@media @mobile {
		.box-sizing--border-box();
	}
	
	&:after {
	    content: "";
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0;
        border-bottom: 1px solid @color__header--border;
	}

    body > & {
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.main-container {
	background-color: #fff;
	padding: 40px;
	margin: 0 auto;
	width: auto;
	min-height: ~"calc(100vh - 415px)";
	.box-sizing--border-box();
	max-width: 1400px;

	@media @desktop-larger {
    	margin-left: 10%;
		margin-right: 10%;
	}

	@media @desktop-large {
    	margin-left: 6%;
		margin-right: 6%;
	}

	@media @mobile {
		padding: 16px;
		height: auto;
	}
}

// FOOTER

.bk-footer {
    overflow: auto;
    border-top: 1px solid @color__footer--border;
    background-color: @color__footer--background;
	min-height: 220px;

	@media @mobile {
		height: auto;
	}

    .widget__socialicons,
    .widget__profile .profile__socialicons {
        margin: 0 0 20px;
    }

	.widget__profile {
        form fieldset input {
            width: 100%;
        }

        form button {
            word-break: break-word;
            height: auto;
            width: auto;
            margin: 10px 0;
            line-height: 1.25em;
        }
	}
}

.footer {
    margin: 20px auto 50px;
	.box-sizing--border-box();
	max-width: 1400px;

	@media @desktop-larger {
    	margin-left: 10%;
		margin-right: 10%;
	}

	@media @desktop-large {
    	margin-left: 6%;
		margin-right: 6%;
	}
}

.footerright,
.footerleft {
    width: 49.5%;

    @media @mobile {
        width: 100%;
        text-align: center !important;
    }
}

.footerleft {
    float: left;
	padding-left: 40px;

    @media @mobile {
        width: 100%;
        text-align: center !important;
		padding-left: 0;
    }
}

.footerright {
    float: right;
	padding-right: 40px;
    text-align: right;

    @media @mobile {
        width: 100%;
        text-align: center !important;
		padding-right: 0;
    }
}

.bk-footer h1,
.bk-footer h2,
.bk-footer h3,
.bk-footer h4 {
    color: @color__navigation--text;
    padding-bottom: 1em;
}

// CONTENT

.widget__content {
    padding: 0;
    overflow: hidden;
}

span.expand.button.button--expand {
    font-family: @font__button--font-family;
    margin: 10px 0;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    background-color: transparent!important;
}

.expand .more,
.expand .less {
    font-family: @font-swatch4-font-family;
    font-size: 12px;
    color: @color__link--text;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px;
    border-bottom: 1px solid @color__link--text;

    &:hover {
        border-bottom: 2px solid @color__link--text;
        cursor: pointer;
        background-color: transparent;
        .transition(all, 0.2s, ease);
    }
}

// Clearfix

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

// MESSAGES

// Message

.message {
    position: relative;
    clear: both;
    padding: 1em;
	padding-left: 3.5em;
    margin: 1em auto;
    background-color: @color__form--background;
	border: 1px solid;
	border-color: @message-color--standard;

    // Heading 3, Paragraph

    h3, p {
        margin: 0;
        padding: 0;
    }
	
	h3 {
		margin-bottom: 10px;
	}

    // Strong

    strong {
        font-weight: bold;
    }

    // Consequetive Paragraps

    p + p {
        margin-top: 0.35em;
    }

    // Icon

    &:before {
        font-family: 'FontAwesome', sans-serif;
        display: block;
        width: 2.7em;
        position: absolute;
        top: -0.15em;
        left: 0;
        bottom: 0;
        text-align: center;
        padding-top: 0.7em;
		font-size: 1.4em;
    }
}

// Error

.message--error {
	border-color: @message-color--error;

	*, &:before {
		color: darken(@message-color--error, 20%);
	}

	&:before {
		content: "\f06a";
	}
}

// Warning

.message--warning {
	border-color: @message-color--warning;

	* {
		color: darken(@message-color--warning, 30%);
	}

	&:before {
		content: "\f071";
		color: darken(@message-color--warning, 10%);
	}
}

// Information

.message--information {
	border-color: @message-color--information;
	color: @message-color--information;

	* {
		color: darken(@message-color--information, 50%);
	}

	&:before {
		content: "\f05a";
		color: darken(@message-color--information, 30%);
	}
}

// Success

.message--success {
	border-color: @message-color--success;

	* {
		color: darken(@message-color--success, 30%);
	}

	&:before {
		content: "\f00c";
		color: darken(@message-color--success, 20%);
	}
}

// Not Found

.message--not-found {
	border-color: @message-color--not-found;

	*, &:before {
		color: darken(@message-color--not-found, 20%);
	}

	&:before {
		content: "\f002";
	}
}

// Message in Template's Footer

.template-footer .message {
    margin: 0;
}

// Contact Form and Signup Form Messages

.overlay.success .message-box {
    .message;
    .message--success;
}

.overlay.fail .message-box {
    .message;
    .message--warning;
}

// GDPR MESSAGE

.gdpr-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid @color__footer--border;
    background-color: @color__footer--background;
}
