// ------------------------------------
// BaseKit Standard Theme: LESS > Theme
// ------------------------------------
// -----------------------------
// #Table of Contents
// -----------------------------
// 1. #TYPOGRAPHY
// 2. #CUSTOM PAGE
// 3. #HEADER & #BK-NAV
// 4. #FOOTER
// 5. #CONTENT
// 6. #GENERAL FORMS



// -----------------------------
// 1. #TYPOGRAPHY
// -----------------------------

// Colour Variables
// ----------------

@bg-color: @color__body--background;
@color__primary: @color__secondary;
@button-color: @color__button--background;
@spare-color: #ffffff;

// Font Swatches
// -------------
// font1:  Heading 1
// font2:  Heading 2
// font3:  Heading 3
// font4:  Heading 4
// font5:  Paragraph
// font6:  Navigation Link
// font7:  Buttons
// font8:  Feature Headline
// font9:  Feature Strapline
// font10: Company Name (Logo)

// -----------------------------
// 2. #CUSTOM PAGE
// -----------------------------

body.edit .widget.navigation,
body.edit .widget.extendednavigation {
    overflow: visible;
}

// Default Page Style
// ------------------

.bk-pt-default .bk-header {
    border-bottom: 1px solid @color__primary;
}

// -----------------------------
// 3. #HEADER & #BK-NAV
// -----------------------------

.flex-container {
    padding: 30px 50px 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid @color__primary;
    margin: 0 10% 30px;
    background-color: @color__header--background;
    flex-direction: row;
    @media @tablet {
        flex-direction: column;
    	padding: 30px 0 0;
    }
    @media @mobile {
        flex-direction: column;
		margin-left: 0;
		margin-right: 0;
    }
}

.homepage-background {
    position: absolute;
    top: 0px;
    z-index: 0;
}

// -----------------------------
// 4. #FOOTER
// -----------------------------

.bk-footer {
    border-top: 1px solid @color__footer--border;
    background-color: @color__footer--background;
    padding: 20px 3% 10px;
    @media @mobile {
        padding: 0px;
    }
}

.footerright,
.footerleft {
    display: inline-block;
    vertical-align: middle;
    width: 49.5%;
    @media @mobile {
        width: 100%;
        text-align: center !important;
    }
}

.footerright {
    text-align: right;
}

.bk-footer h1,
.bk-footer h2,
.bk-footer h3,
.bk-footer h4 {
    color: @color__navigation--text;
    padding-bottom: 1em;
}

// -----------------------------
// 5. #CONTENT
// -----------------------------

.widget__content {
    padding: 0;
    overflow: hidden;
}

span.expand.button.button--expand {
    font-family: @font__button--font-family;
    margin: 10px 0;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    background-color: transparent!important;
}

.expand .more,
.expand .less {
    font-family: @font-swatch4-font-family;
    font-size: 12px;
    color: @color__link--text;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px;
    border-bottom: 1px solid @color__link--text;
    &:hover {
        border-bottom: 2px solid @color__link--text;
        cursor: pointer;
        background-color: transparent;
        .transition (all, 0.2s, ease);
    }
}

// -----------------------------
// 6. #GENERAL FORMS
// -----------------------------

legend {
    display: none!important;
}

.form-group {
    display: flex;
}

label {
    font-size: 16px;
    font-weight: 500;
    font-family: @font__h1--font-family;
    color: @color__form-label--text;
    text-transform: uppercase;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
}

.form-group.focused label,
.form-group:focus > select label,
label.active {
    opacity: 1;
    transform: scale(0.75);
}

input,
select {
    align-self: flex-end;
    margin-top: 4px!important
}
input[placeholder] {
    color: transparent;
    transition: 240ms;
}

::-moz-placeholder {
    color: transparent;
    transition: 240ms;
}

input:-moz-placeholder {
    color: transparent;
    transition: 240ms;
}

input::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

input:focus::-webkit-input-placeholder {
    transition: none;
}
input::focus::-moz-placeholder {
    transition: none;
}
input:focus:-moz-placeholder {
    transition: none;
}
input:focus:[placeholder] {
    transition: none;
}
.form-group.focused input::-webkit-input-placeholder {
    color: #bbb;
}

.form-group.focused input[placeholder] {
    color: #bbb;
}
.form-group.focused input::-moz-placeholder {
    color: #bbb;
}
.form-group.focused ::-moz-placeholder {
    color: #bbb;
}
.form-group.focused input:-moz-placeholder {
    color: #bbb;
}

input[type=search],
input[type=text],
input[type=email],
textarea,
select,
.contactform__input,
.signupform__input,
.blogsearch__input,
input#search-term {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid @color__form--border;
    height: 3rem;
    font-size: 1rem;
    padding: 0;
    box-shadow: none;
    color: transparent;
    &:focus {
        border-bottom: 1px solid @color__form--border;
        box-shadow: 0 1px 0 0 @color__form--border;
        background-color: transparent;
    }
}

textarea {
    resize: vertical;
    min-height: 150px;
    margin-bottom: 20px;
    margin-top: 18px!important;
    width: 100%;
    color: @color__p--text!important;
}

input[type=search],
input[type=text],
input[type=email],
.contactform__input,
.signupform__input,
.blogsearch__input {
    width: 100%;
    min-height: 38px;
    font-size: 0.9em;
    color: @color__p--text!important;
}

input.js-email.email {
    width: 100%;
}

.contactform__input,
.signupform__input,
.blogsearch__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 42px;
    width: 100%;
    border: 0;
    display: inline-block;
    vertical-align: top;
    color: @color__p--text!important;
}

.contactform,
.advancedcontactform {
    input[type=email] {
        width: 100%;
        color: @color__p--text!important;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    width: 100%;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    display: block;
    color: transparent;
    background: image('/images/arrow-small-down.svg') no-repeat center right;
    background-size: 2.5%;
    @media @tablet {
        background-size: 5.5%;
    }
    @media @mobile {
        background-size: 8.5%;
    }
}

select.selected {
    color: @color__p--text!important;
}

select:hover {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: transparent!important;
}

select:selected {
    color: @color__form-label--text;
}

select:focus {
    background-color: transparent!important;
    color: @color__form-label--text;
}

select:focus > label {
    background-color: transparent!important;
    color: @color__form-label--text;
}

option {
    background-color: #fff;
    margin: 0;
    min-width: 100px;
    max-height: 650px;
    overflow-y: auto;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    background-color: #fff;
    margin: 0;
    min-width: 100px;
    max-height: 650px;
    overflow-y: auto;
    z-index: 999;
}

select > ul {
    background-color: #fff;
    margin: 0;
    min-width: 100px;
    max-height: 650px;
    overflow-y: auto;
    position: absolute;
    z-index: 999;
}

select span {
    color: initial;
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 10px;
}

// Advanced Contact Form
// ---------------------

.advancedcontactform {
    text-align: left;
    width: 100%;
    .legend {
        margin-bottom: 20px;
    }
    .form {
        text-align: left;
        width: 100%;
    }
    .select-wrap {
        width: 100%;
        margin: 0px auto;
        &:hover {
            background-color: transparent;
        }
        @media @mobile {
            max-width: 100%;
        }
        select:focus {
            background-color: transparent;
        }
    }
}

.option-list,
.advancedcontactform__option-list {
    padding: 0px;
    padding-top: 20px;
	width: 100%;
}
.advancedcontactform__form-group {
    margin-top: 20px;
}

.option-item {
	&.option-item--radio,
	&.option-item--checkbox {
		position: relative;
		width: 100%;
		margin-bottom: 18px;
		label {
			position: relative;
			margin-left: 40px;
			text-transform: none;
			font-weight: 300;
			transform: unset;
			line-height: 1.4em;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: -40px;
				width: 20px;
				height: 20px;
				margin-top: -9px;
				background-color: @bg-color;
				border: 2px solid @color__primary;
			}
			&:after {
				opacity: 0;
				content: '';
				position: absolute;
				top: 50%;
				left: -36px;
				width: 12px;
				height: 12px;
				margin-top: -5px;
				background-color: @color__primary;
			}
		}

		input[type="radio"],
		input[type="checkbox"] {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 !important;
			padding: 0 !important;
			width: 100% !important;
			height: 100% !important;
			
			&:checked + label:after {
				opacity: 1;
			}
		}
	}
	
	&.option-item--radio {
		label {
			&:before {
				border-radius: 10px;
			}
			&:after {
				border-radius: 10px;
			}
		}
	}
}



// Signup Form
// ------------

.signupform__input {
    display: inline-block;
    float: left;
    vertical-align: top;
    .button--submit {
        display: inline-block;
        float: right;
        min-width: 20%;
        vertical-align: bottom;
        margin-top: 21px;
    }
}

// Clearfix
// --------

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}