// THEME

// Variables

@message-color--standard: #6e6e6e;
@message-color--error: #d20000;
@message-color--warning: #ffbc0b;
@message-color--information: #aae6e8;
@message-color--success: #bae914;
@message-color--not-found: #6e6e6e;

// TYPOGRAPHY

// Colour Variables

@bg-color: @color-swatch7;
@button-color: @color__button--background;
@spare-color: @color-swatch7;

// Font Swatches

// CUSTOM PAGE

body.edit .widget.navigation,
body.edit .widget.extendednavigation {
    overflow: visible;
}

// Default Page Style

.bk-pt-default .bk-header {
    border-bottom: 1px solid @color__h1--text;
}

// HEADER & #BK-NAV

.navigation--flex-container {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 1em 40px;
    background-color: @color__header--background;
    flex-direction: row;
	.box-sizing--border-box();
	max-width: 1400px;
	font-size: @font__navigation--font-size;

	@media @desktop-larger {
        width: 80%;
	}

	@media @desktop-large {
        width: 88%;
	}

    @media @tablet {
        flex-direction: column;
        padding: 1em 0;
    }

	@media @mobile {
		.box-sizing--border-box();
	}
	
	&:after {
	    content: "";
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0;
        border-bottom: 1px solid @color__header--border;
	}

    body > & {
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.main-container {
	background-color: #fff;
	padding: 40px;
	margin: 0 auto;
	width: auto;
	min-height: calc(100vh - 415px);
	.box-sizing--border-box();
	max-width: 1400px;

	@media @desktop-larger {
    	margin-left: 10%;
		margin-right: 10%;
	}

	@media @desktop-large {
    	margin-left: 6%;
		margin-right: 6%;
	}

	@media @mobile {
		padding: 16px;
		height: auto;
	}
}

// FOOTER

.bk-footer {
    overflow: auto;
    border-top: 1px solid @color__footer--border;
    background-color: @color__footer--background;
	min-height: 220px;

	@media @mobile {
		height: auto;
	}

    .widget__socialicons,
    .widget__profile .profile__socialicons {
        margin: 0 0 20px;
    }

	.widget__profile {
        form fieldset input {
            width: 100%;
        }

        form button {
            word-break: break-word;
            height: auto;
            width: auto;
            margin: 10px 0;
            line-height: 1.25em;
        }
	}
}

.footer {
    margin: 20px auto 50px;
	.box-sizing--border-box();
	max-width: 1400px;

	@media @desktop-larger {
    	margin-left: 10%;
		margin-right: 10%;
	}

	@media @desktop-large {
    	margin-left: 6%;
		margin-right: 6%;
	}
}

.footerright,
.footerleft {
    width: 49.5%;

    @media @mobile {
        width: 100%;
        text-align: center !important;
    }
}

.footerleft {
    float: left;
	padding-left: 40px;

    @media @mobile {
        width: 100%;
        text-align: center !important;
		padding-left: 0;
    }
}

.footerright {
    float: right;
	padding-right: 40px;
    text-align: right;

    @media @mobile {
        width: 100%;
        text-align: center !important;
		padding-right: 0;
    }
}

.bk-footer h1,
.bk-footer h2,
.bk-footer h3,
.bk-footer h4 {
    color: @color__navigation--text;
    padding-bottom: 1em;
}

// CONTENT

.widget__content {
    padding: 0;
    overflow: hidden;
}

span.expand.button.button--expand {
    font-family: @font__button--font-family;
    margin: 10px 0;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    background-color: transparent!important;
}

.expand .more,
.expand .less {
    font-family: @font-swatch4-font-family;
    font-size: 12px;
    color: @color__link--text;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px;
    border-bottom: 1px solid @color__link--text;

    &:hover {
        border-bottom: 2px solid @color__link--text;
        cursor: pointer;
        background-color: transparent;
        .transition(all, 0.2s, ease);
    }
}

// GENERAL FORMS

legend {
    display: none!important;
}

label {
    font-size: 16px;
    font-weight: 500;
    font-family: @font__h4--font-family;
    color: @color__h4--text;
    text-transform: uppercase;
    opacity: 0.4;
    pointer-events: none;
    transition: 240ms;
    text-align: left;

    .style--light & {
        color: @color--accent;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @color--accent;
    }
}

label.label--select,
label.label--variation,
label.label--filter {
	opacity: 1;
}

.form-group.focused label,
.form-group:focus > select label,
label.active {
    opacity: 1;
}

input,
select {
    align-self: flex-end;
    color: @color__p--text;

    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: fade(@contrast--accent, 90%);
    }

    .style--dark & {
        color: fade(@contrast--dark, 90%);
    }
}

input[placeholder] {
    color: transparent;
    transition: 240ms;
}

input::-moz-placeholder {
    color: transparent;
    transition: 240ms;
}

input:-moz-placeholder {
    color: transparent;
    transition: 240ms;
}

input::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

input:focus::-webkit-input-placeholder {
    transition: none;
}
input:focus::-moz-placeholder {
    transition: none;
}
input:focus:-moz-placeholder {
    transition: none;
}
input:focus[placeholder] {
    transition: none;
}
.form-group.focused input::-webkit-input-placeholder {
    color: @color__p--text;

    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: fade(@contrast--accent, 90%);
    }

    .style--dark & {
        color: fade(@contrast--dark, 90%);
    }
}

.form-group.focused input[placeholder] {
    color: @color__p--text;

    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: fade(@contrast--accent, 90%);
    }

    .style--dark & {
        color: fade(@contrast--dark, 90%);
    }
}
.form-group.focused input::-moz-placeholder {
    color: @color__p--text;

    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: fade(@contrast--accent, 90%);
    }

    .style--dark & {
        color: fade(@contrast--dark, 90%);
    }
}
.form-group.focused ::-moz-placeholder {
    color: @color__p--text;

    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: fade(@contrast--accent, 90%);
    }

    .style--dark & {
        color: fade(@contrast--dark, 90%);
    }
}
.form-group.focused input:-moz-placeholder {
    color: @color__p--text;

    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: fade(@contrast--accent, 90%);
    }

    .style--dark & {
        color: fade(@contrast--dark, 90%);
    }
}

input[type=search],
input[type=text],
input[type=email],
textarea,
select,
.contactform__input,
.signupform__input,
.blogsearch__input,
input#search-term {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid @color__h1--text;
    height: 3rem;
    font-size: @font__p--font-size;
    font-family: @font__p--font-family;
    padding: 0;
    box-shadow: none;
	.border-radius(0);
	.appearance(none);

    .style--light & {
        border-color: @color--accent;
    }

    .style--accent & {
        border-color: @contrast--accent;
    }

    .style--dark & {
        border-color: @color--accent;
    }
    
    &:focus {
        border-bottom: 1px solid @color__h1--text;
        box-shadow: 0 1px 0 0 @color__h1--text;
        background-color: transparent;

        .style--light & {
            border-color: @color--accent;
            box-shadow: 0 1px 0 0 @color--accent;
        }

        .style--accent & {
            border-color: @contrast--accent;
            box-shadow: 0 1px 0 0 @contrast--accent;
        }

        .style--dark & {
            border-color: @color--accent;
            box-shadow: 0 1px 0 0 @color--accent;
        }
    }
}

textarea {
    background-color: rgba(255,255,255, 0.8);
    resize: vertical;
    min-height: 150px;
    padding: 10px;
    width: 100%;
    color: @color__p--text;
    border: 1px solid fade(@color__h1--text, 30%);
    border-bottom: 1px solid @color__h1--text;

    .style--light & {
        background-color: fade(@color--light, 20%);
        border-color: fade(@color--accent, 30%);
        border-bottom: 1px solid @color--accent;
        color: @contrast--light;
    }

    .style--accent & {
        background-color: fade(@color--accent, 20%);
        border-color: fade(@contrast--accent, 30%);
        border-bottom: 1px solid @contrast--accent;
        color: fade(@contrast--accent, 90%);
    }

    .style--dark & {
        background-color: fade(@color--dark, 20%);
        border-color: fade(@color--accent, 30%);
        border-bottom: 1px solid @color--accent;
        color: fade(@contrast--dark, 90%);
    }

    &:focus {
        border: 1px solid fade(@color__h1--text, 30%);
        border-bottom: 1px solid @color__h1--text;

        .style--light & {
            border-color: fade(@color--accent, 30%);
            border-bottom: 1px solid @color--accent;
        }

        .style--accent & {
            border-color: fade(@contrast--accent, 30%);
            border-bottom: 1px solid @contrast--accent;
        }

        .style--dark & {
            border-color: fade(@color--accent, 30%);
            border-bottom: 1px solid @color--accent;
        }
    }
}

textarea:focus {
    background-color: rgba(255,255,255, 0.8);

    .style--light & {
        background-color: fade(@color--light, 20%);
    }

    .style--accent & {
        background-color: fade(@color--accent, 20%);
    }

    .style--dark & {
        background-color: fade(@color--dark, 20%);
    }
}

input[type=search],
input[type=text],
input[type=email],
.contactform__input,
.signupform__input,
.blogsearch__input {
    width: 100%;
    min-height: 38px;
    font-size: 0.9em;
}

input.js-email.email {
    width: 100%;
}

.contactform__input,
.signupform__input,
.blogsearch__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 42px;
    width: 100%;
    border: 0;
    display: inline-block;
    vertical-align: top;
    color: @color__p--text;

    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: fade(@contrast--accent, 90%);
    }

    .style--dark & {
        color: fade(@contrast--dark, 90%);
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    width: 100%;
    position: relative;
    cursor: pointer;
    background-color: rgba(255,255,255, 0.6);
    border: none;
    border: 1px solid @color__h1--text;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0 0 0 5px;
    display: block;
    background: image('/images/arrow-small-down.svg') no-repeat center right;
    background-size: 30px;

    .style--light & {
        background-color: fade(@color--light, 40%);
        border-color: fade(@color--accent, 30%);
    }

    .style--accent & {
        background-color: fade(@color--accent, 40%);
        border-color: fade(@contrast--accent, 30%);
    }

    .style--dark & {
        background-color: fade(@color--dark, 40%);
        border-color: fade(@color--accent, 30%);
    }
}

select.selected {
    color: @color__p--text;

    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

select:hover {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

select:hover,
select:focus,
select:focus > label {
    background-color: rgba(255,255,255, 0.8);

    .style--light & {
        background-color: fade(@color--light, 40%);
    }

    .style--accent & {
        background-color: fade(@color--accent, 40%);;
    }

    .style--dark & {
        background-color: fade(@color--dark, 40%);
    }
}

select:focus,
select:focus > label,
select:selected {
    color: @color__h4--text;

    .style--light & {
        color: @color--accent;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @color--accent;
    }
}

option {
    background-color: #fff;
    margin: 0;
    min-width: 100px;
    max-height: 650px;
    overflow-y: auto;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
}

select > ul {
    background-color: #fff;
    margin: 0;
    min-width: 100px;
    max-height: 650px;
    overflow-y: auto;
    position: absolute;
    z-index: 999;
}

select span {
    color: initial;
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 10px;
}

// Advanced Contact Form

.advancedcontactform {
    text-align: left;
    width: 100%;

    .legend {
        margin-bottom: 20px;
    }

    .form {
        text-align: left;
        width: 100%;
    }
}

.option-list,
[class*="form-group--terms"],
.advancedcontactform__option-list {
    padding: 0px;
	width: 100%;
}

.form-group,
.advancedcontactform__form-group {
	position: relative;
}

.option-list,
.widget .form [class*="form-group--terms"] {
	input[type="radio"],
	input[type="checkbox"] {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		height: 100% !important;

		&:checked + label:after {
			opacity: 1;
		}
	}
} 

.option-item.option-item--radio,
.option-item.option-item--checkbox,
.widget .form [class*="form-group--terms"] {
	position: relative;
	width: 100%;
	margin-bottom: 18px;
    line-height: @font__p--line-height;
    min-height: @font__p--line-height;

	label {
		position: relative;
		cursor: pointer;
		display: block;
		margin-left: 40px;
		text-transform: none;
		font-weight: 300;
		transform: scale(1);
		line-height: 1.4em;
        word-break: break-word;
		
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: -40px;
			width: 20px;
			height: 20px;
			margin-top: -9px;
			background-color: @bg-color;
			border: 2px solid @color__h1--text;

            .style--light & {
                background-color: @color--light;
                border-color: @color--accent;
            }

            .style--accent & {
                background-color: @color--accent;
                border-color: @contrast--accent;
            }

            .style--dark & {
                background-color: @color--dark;
                border-color: @color--accent;
            }
		}

		&:after {
			opacity: 0;
			content: '';
			position: absolute;
			top: 50%;
			left: -36px;
			width: 12px;
			height: 12px;
			margin-top: -5px;
			background-color: @color__h1--text;

            .style--light & {
                background-color: @color--accent;
            }

            .style--accent & {
                background-color: @contrast--accent;
            }

            .style--dark & {
                background-color: @color--accent;
            }
		}
	}
}
	
.option-item.option-item--radio label {
	&:before,
    &:after {
		border-radius: 10px;
	}
}

.label--radio,
.label--checkbox,
label[for*="input--terms"],
label[for*="input--terms"] span a.form__link {
    opacity: 1;
    word-break: break-word;
}

.advancedcontactform {
    input.error {
        border: none !important;
    }
	
    textarea.error {
        border: 1px solid @message-color--error !important;
    }
	
    .form-group {
        .error {
            border-bottom: 2px solid @message-color--error !important;
            &:focus {
                box-shadow: none;
            }
        }
    }
}

// Clearfix

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


// MESSAGES

// Message

.message {
    position: relative;
    clear: both;
    padding: 1em;
	padding-left: 3.5em;
    margin: 1em auto;
    background-color: #fff;
	border: 1px solid;
	border-color: @message-color--standard;

    // Heading 3, Paragraph

    h3, p {
        margin: 0;
        padding: 0;
    }
	
	h3 {
		margin-bottom: 10px;
	}

    // Stronmg

    strong {
        font-weight: bold;
    }

    // Consequetive Paragraps

    p + p {
        margin-top: 0.35em;
    }

    // Icon

    &:before {
        font-family: 'FontAwesome', sans-serif;
        display: block;
        width: 2.7em;
        position: absolute;
        top: -0.15em;
        left: 0;
        bottom: 0;
        text-align: center;
        padding-top: 0.7em;
		font-size: 1.4em;
    }
}

// Error

.message--error {
	border-color: @message-color--error;

	*, &:before {
		color: darken(@message-color--error, 20%);
	}

	&:before {
		content: "\f06a";
	}
}

// Warning

.message--warning {
	border-color: @message-color--warning;

	* {
		color: darken(@message-color--warning, 30%);
	}

	&:before {
		content: "\f071";
		color: darken(@message-color--warning, 10%);
	}
}

// Information

.message--information {
	border-color: @message-color--information;
	color: @message-color--information;

	* {
		color: darken(@message-color--information, 50%);
	}

	&:before {
		content: "\f05a";
		color: darken(@message-color--information, 30%);
	}
}

// Success

.message--success {
	border-color: @message-color--success;

	* {
		color: darken(@message-color--success, 30%);
	}

	&:before {
		content: "\f00c";
		color: darken(@message-color--success, 20%);
	}
}

// Not Found

.message--not-found {
	border-color: @message-color--not-found;

	*, &:before {
		color: darken(@message-color--not-found, 20%);
	}

	&:before {
		content: "\f002";
	}
}

// Message in Template's Footer

.template-footer .message {
    margin: 0;
}

// Contact Form and Signup Form Messages

.overlay.success .message-box {
    .message;
    .message--success;
}

.overlay.fail .message-box {
    .message;
    .message--warning;
}

// GDPR MESSAGE

.gdpr-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid @color__footer--border;
    background-color: @color__footer--background;
}
