// WIDGETS

// Global style for flex items

.flex-item {
    -webkit-align-self: auto;
    -moz-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    z-index: 100;
}

.flex-item.company {
    z-index: 100;
    margin-right: 30px;
    min-width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media @tablet {
        display: block;
        margin: 0;
		width: 100%;
		padding: 0 2%;
    }
}

// GENERAL STYLES

.widget--zone-widget,
.widget--template-widget {
	margin: 0 0 20px;
}

.flex-item.company,
.flex-item.flex-nav {
	.widget--zone-widget,
	.widget--template-widget {
		margin: 0;
	}
}

// LOGO

.widget__logo {
    width: 100%;
    text-align: left;

    @media @tablet {
        text-align:center;
    }
    
    .logo__logo-link {
        @media @tablet {
            display: table;
            margin: 0 auto;
            padding-left: 8%;
            padding-right: 8%;
            max-height: 160px;
        }
    }
        
    .logo__logo-image {
        margin: 0px auto;
    }
}
    
// COMPANY NAME

.widget__companyname {
    width: 100%;
    text-align: left;
    margin-left: 10px;

    @media @tablet {
        margin-left: 0;
        text-align:center;
    }
    
    a.companyname__company-link {
        display: inline-block;
        padding: 0.65em 0 0.8em;
        text-transform: uppercase;
        color: @color__companyname--text;
        
        &:hover {
            color: darken(@color__companyname--text, 10%);
        }

        @media @tablet {
            padding: 0.65em 8% 0.8em;
        }
    }
}

// NAVIGATION

.flex-nav {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

    @media @tablet {
        display: block;
        width: 100%;
        padding: 0 2%;
    }
}

.navigation,
.extendednavigation {
    .navigation-body,
    .extendednavigation__navigation-body {
        margin-right: -0.6em;
        
        @media @tablet {
            margin-right: 0;
        }

        .extendednavigation__navigation-toggle {
            margin: 0 auto;
            display: none;
        }

        ul.navigation-list {
            display: block;
            text-transform: uppercase;
            margin: 0;

            @media @tablet {
                display: none;
                border: 1px solid @color__navigation--text;
                background: @color__navigation-list--background;
            }

            &.open {
                @media @tablet {
                    display: block;
                }
            }

            li.navigation-item {
                padding: 0.3em 0;

                @media @tablet {
                    width: 100%;
                }
                
                &:hover {
                    color: @color__navigation--text--hover !important;
                    text-decoration: none;
                }

                .item-name {
                    padding: 0 0.6em;
                    word-break: break-word;
                
                    @media @tablet {
                        width: 100%;
                        padding: 0 8%;
                        word-break: break-word;
                    }
                }
                
                &.selected > a {
                    text-decoration: none;
                    color: @color__navigation--text;

                    @media @tablet {
                        text-decoration: none;
                        color: @color__navigation--text;
                    }
                }

                // Folder

                &.folder {
                    .item-name--parent {
                        &:after {
                            display: inline-block;
                            content: '';
                            border: 0.3em solid transparent;
                            margin-left: 0.5em;
                            margin-top: @font__navigation--line-height/2 - 1em;
                            border-top-color: @color__navigation--text;
                        }
                
                        &:hover:after {
                            border-top-color: @color__navigation--text--hover;
                        }
                    }

                    &.selected .selected {
                        color: @color__navigation--text;
                        text-decoration: none;
                    }

                    // Submenu
                    
                    .navigation-list--children {
                        display: none;
                        border: 1px solid @color__navigation--text;
                        background-color: @color__navigation-list--background;
                        position: absolute;
                        left: auto;
                        top: 100%;
                        min-width: auto;
                        max-width: 500px;
                        right: 0;

                        @media @tablet {
                            position: static;
                            width: auto;
                            min-width: auto;
                            margin: 0.75em;
                            padding: 1em 0;
                            background-color: @color__header--background;
                            max-width: none;
                        }
                    
                        .default-page & {
                            background-color: @color__navigation-list--background;
                        }

                        .navigation-item.navigation-item--child {
                            @media @mobile {
                                padding: 0;
                            }
                    
                            .item-name {
                                overflow: visible;
                                padding: 0.3em 1em;
                                line-height: 1.4em;
                            }
                        }
                    }

                    &.folder-open {
                        @media @tablet {
                            display: block;
                            margin-bottom: 5px;
                            padding-bottom: 10px;
                        }

                        .navigation-list--children {
                            display: block;
                        }
                    }
                }
            }
        }
    }
        
    // Burger Icon
    
    .navigation-toggle {
        display: none;

        @media @tablet {
            display: block;
            margin: 0 auto;
            color: transparent !important;
            width: 50px;
            height: 45px;
            background-color: transparent;
        }

        &:hover {
            @media @tablet {
                border: 0;
                background-color: transparent;
            }
        }

        &:before {
            @media @tablet {
                content: '';
                position: absolute;
                width: 26px;
                height: 3px;
                top: 0;
                left: 50%;
                right: 0;
                margin-top: 15px;
                margin-left: -13px;
                background: @color__navigation--text;
                box-shadow: 0 6px 0 @color__navigation--text;
                .transition(all, 0.5s, ease);
            }
        }

        &:after {
            @media @tablet {
                content: '';
                position: absolute;
                width: 26px;
                height: 3px;
                top: 12px;
                left: 50%;
                right: 0;
                margin-top: 15px;
                margin-left: -13px;
                background: @color__navigation--text;
                .transition(all, 0.5s, ease);
            }
        }
    }
}

// LANGUAGE SELECTOR

@language-padding: 0.5em;
@language-line-height: @font__navigation--line-height;

.language-selector {
	&.language-selector--horizontal,
	&.language-selector--dropdown {
	    position: relative;
		z-index: 200;
		box-sizing: content-box;
		max-width: 1400px;
		margin: 0 auto;
		width: auto;
    	
    	@media @desktop-larger {
    		margin-left: 10%;
    		margin-right: 10%;
    	}
    	
    	@media @desktop-large {
    		margin-left: 6%;
    		margin-right: 6%;
    	}
	}

	&.language-selector--light {
		background-color: @color__header--background;
	}

	&.language-selector--dark {
		background-color: @color__button--background;
	}
	
	&.language-selector--dropdown {
		height: auto;
		text-align: left;
	}

    .language-selector__inner,
    .language-selector__list,
    .language-selector__item,
    .language-selector__link,
    .language-selector__name,
    .language-selector__localised-name {
    	text-transform: uppercase;
    	font-family: @font__navigation--font-family;
    	font-size: @font__navigation--font-size;
    	font-weight: @font__navigation--font-weight;
    	line-height: @language-line-height;
    	letter-spacing: @font__navigation--letter-spacing;
    	color: @color__navigation--text;
		-webkit-font-smoothing: auto;
		-moz-osx-font-smoothing: auto;
		font-smooth: auto;
		text-rendering: auto;
    }
}
	
// Inner

.language-selector__inner {
    .language-selector & {
	    box-sizing: content-box;
    	margin: 0 auto;
    	padding: @language-padding;
    }

	.language-selector.language-selector--dropdown & {
    	&:before {
    	    content: '';
            display: block;
    	    height: @language-line-height;
    	}

    	&:after {
    	    content: '';
            display: block;
    	    height: @language-padding*2;
    	}

		@media @mobile {
			width: 100%;
		}
	}
}
	
// List

.language-selector__list {
    .language-selector & {
	    z-index: 100;
	    min-width: auto;
    }
	
	.language-selector.language-selector--dropdown & {
		box-sizing: border-box;
		margin: @language-padding;
		min-width: auto;
		max-width: calc(~"100% -" @language-padding*2);
	}
	
	.language-selector.language-selector--dropdown.language-selector--flag & {
		@media @mobile {
			width: auto;
		}
	}
}
	
// Item

.language-selector__item {
	.language-selector.language-selector--light &,
	.language-selector.language-selector--dark & {
	    position: relative;
		border: none;
		background-color: transparent;
	}

	.language-selector.language-selector--dropdown & {
	    max-width: 100%;
		
		.language-selector--light& {
			background-color: @color__button--background;

			&:hover {
				background-color: darken(@color__button--background, 10%);
			}
		}
		
		.language-selector--dark& {
			background-color: @color__header--background;

			&:hover {
				background-color: darken(@color__button--background, 10%);
			}
		}
	}
	
	// Current Item
	
	&--current {
    	.language-selector.language-selector--dropdown & {
    		.language-selector--light& {
    			background-color: @color__button--background;
    
    			&:hover {
    				background-color: darken(@color__button--background, 10%);
    			}
    		}
    		
    		.language-selector--dark& {
    			background-color: @color__header--background;
    
    			&:hover {
    				background-color: darken(@color__button--background, 10%);
    			}
    		}
    	}
	    
	    &:after {
    		.language-selector.language-selector--dropdown & {
        		content: '\25be';
        		top: 50%;
        		right: 0;
        		margin-top: -(@font__navigation--line-height/2+@font__navigation--line-height/10);
        		min-width: @language-padding*4;
    		    background-color: transparent;
        		line-height: @language-line-height;
        	    font-size: @font__navigation--font-size;
        		color: @color__navigation--text;
        		text-align: center;
    		}
	    }
	}
}

// Link

.language-selector__link {
    .language-selector & {
    	box-sizing: border-box;
    	padding: 0 @language-padding;
    	border: none;
        hyphens: auto;
    }
	
    // Horizontal - Item
    
	.language-selector.language-selector--horizontal & {
        text-align: right;
        display: inline-block;
        
		.language-selector--light& {
			background-color: transparent;

			&:hover {
				background-color: @color__button--background;
			}
		}
		
		.language-selector--dark& {
			background-color: transparent;

			&:hover {
				background-color: darken(@color__button--background, 10%);
			}
		}
	}
	
	// Horizontal - Current item
	
	.language-selector.language-selector--horizontal .language-selector__item--current & {
		.language-selector--light& {
			background-color: @color__button--background;

			&:hover {
				background-color: darken(@color__button--background, 10%);
			}
		}
		
		.language-selector--dark& {
			background-color: @color__header--background;

			&:hover {
				background-color: darken(@color__button--background, 10%);
			}
		}
	}
	
	// Dropdown - Item

	.language-selector.language-selector--dropdown & {
		padding-right: @language-padding*6;
		background-color: @color__button--background;
		
		.language-selector--light& {
			background-color: @color__button--background;

			&:hover {
				background-color: darken(@color__button--background, 10%);
			}
		}
		
		.language-selector--dark& {
			background-color: @color__header--background;

			&:hover {
				background-color: darken(@color__button--background, 10%);
			}
		}
	}
	
	// Dropdown - Current item
	
	.language-selector.language-selector--dropdown .language-selector__item--current & {
		.language-selector--light& {
			background-color: @color__button--background;

			&:hover {
				background-color: darken(@color__button--background, 10%);
			}
		}
		
		.language-selector--dark& {
			background-color: @color__header--background;

			&:hover {
				background-color: darken(@color__button--background, 10%);
			}
		}
	}
}

// Icon

.language-selector__icon {
    .language-selector & {
		padding: @language-padding 0;
    }
    
    .language-selector.language-selector--flag-text & {
        margin: 0;
    }
    
	.language-selector.language-selector--dropdown.language-selector--flag-text & {
		float: left;
		box-sizing: border-box;
		line-height: @language-line-height;
	}
	
	.language-selector.language-selector--horizontal.language-selector--flag & {
	    margin-right: 0;
	}
}

// Name

.language-selector__name,
.language-selector__localised-name {
	
    .language-selector.language-selector--flag-text & {
		display: inline-block;
        padding: @language-padding 0 @language-padding @language-padding;
    }

    .language-selector.language-selector--text &,
    .language-selector.language-selector--flag & {
    	padding: @language-padding 0;
    }

    .language-selector.language-selector--text & {
        display: block;
    }
	
	.language-selector.language-selector--dropdown & {
		display: block;
        padding: @language-padding 0 @language-padding @language-padding;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

        .language-selector--text&,
        .language-selector--flag& {
        	padding: @language-padding 0;
        }

		@media only screen and (max-width: 1600px) {
			max-width: calc(~"1000px - 5em");
		}

		@media only screen and (max-width: 1200px) {
			max-width: calc(~"850px - 5em");
		}

		@media only screen and (max-width: 1000px) {
			max-width: calc(~"600px - 5em");
		}

		@media only screen and (max-width: 800px) {
			max-width: calc(~"500px - 5em");
		}

		@media only screen and (max-width: 600px) {
			max-width: calc(~"350px - 5em");
		}

		@media only screen and (max-width: 460px) {
			max-width: calc(~"300px - 5em");
		}

		@media only screen and (max-width: 400px) {
			max-width: 200px;
		}
		
		.language-selector--flag-text& {
    		@media only screen and (max-width: 380px) {
    			display: none;
    		}
		}
	}
}

// FEATURE

[data-widget-type="feature"] {
	margin-bottom: 40px;
	z-index: 0;
}

.feature__background-image {
	position: relative;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;        
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    min-height: 100vh;
	padding-bottom: 5%;
	padding-bottom: 5vh;

	@media @desktop-larger {
    	padding-left: 10%;
		padding-right: 10%;
	}

	@media @desktop-large {
    	padding-left: 6%;
		padding-right: 6%;
	}

    @media @mobile {
		padding-bottom: 5%;
		padding-bottom: 5vh;
    }
}
    
// Feature Content Wrap

.feature__content-wrap {
	display: table;
	height: 95%;
	height: 95vh;
	width: 100%;
    background-color: @color__header--background;
	padding: 130px 40px 30px;
	margin: 0 auto;
	.box-sizing--border-box();
	max-width: 1400px;

	@media @desktop-larger {
		margin: 0;
	}

    @media @tablet {
        padding-top: 240px;
    }

    @media @mobile {
        margin: 0 auto 30px;
    }
}
    
.feature__content-inner-wrap {
	display: table-cell;
    vertical-align: middle;
}

// Feature Content

h2.feature__headline {
    padding-bottom: 25px;
    text-transform:uppercase;

    @media @tablet {
    	padding-bottom: 20px;
        font-size: 43px;
        line-height: 50px;
        word-break: break-word;
    }

    @media @mobile {
        font-size: 32px;
        line-height: 38px;
        word-break: break-word;
    }
}

h3.feature__strapline {
    color: @color__feature-strapline--text;
    text-transform: uppercase;
    word-break: break-word;

    @media @tablet {
        font-size: 22px;
        font-weight: 500;
		letter-spacing: @font__feature-strapline--letter-spacing + 1px;
        word-break: break-word;
    }

    @media @mobile {
        font-size: 18px;
        font-weight: 500;
        word-break: break-word;
    }
}
    
// Feature Button

.feature__button {
    padding: 15px 25px;
    background-color: @color__feature-button--background;
    text-transform: uppercase;
    line-height: 21px;
    margin-top:25px;
    color: @color__feature-button--text;

    &:hover {
        background-color: darken(@color__feature-button--background, 5%);
        color: darken(@color__feature-button--text, 5%);
        .transition(all, 0.1s, ease-out);

        @media @mobile {
            font-size: 1.025em!important;
        }
    }

    &:focus {
        outline: none;
    }
}
    
// IMAGE

.imagewidget__image-title {
    margin: 10px 0 5px;
    color: @color__image-title--text;
    font-family: @font__h4--font-family;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;

    .style--light & {
        color: @color__image-title--text;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @color--accent;
    }
}

.imagewidget__image-description {
    margin: 0 0 10px;
    color: @color__image-description--text;
    text-align: left;

    .style--light & {
        color: @color__image-description--text;
    }

    .style--accent & {
        color: fade(@contrast--accent, 90%);
    }

    .style--dark & {
        color: fade(@contrast--dark, 90%);
    }
}

// GALLERY

.gallery {
    @media @tablet {
        font-size: 13px;
        line-height: 21px;
    }

    @media @mobile-small-to-mobile {
        font-size: 10px;
        font-weight: 600;
    }

    // Gallery List
    
    .gallery-list {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0;
        margin: 0 -7.5px;
    
        @media @tablet {
            margin: 0 -5px;
        }
    
        @media @mobile {
            margin: 0;
        }
    }

    // Gallery Images

    .gallery-item {
        position: relative;
        width: 33.3%;
        .box-sizing--border-box();
    
        @media @tablet {
            width: 50%;
            font-size: 26px;
            line-height: 33px;
        }
    
        @media @mobile {
            width: 100%
        }
    
        .responsivecolumns & {
            width: 100%
        }
    
        @media @mobile-small-to-mobile {
            font-size: 18px;
            line-height: 20px;
        }
    }

    .figure {
        padding: 7.5px;
    
        @media @tablet {
            padding: 5px;
        }
    
        @media @mobile {
            padding: 0;
            margin: 7.5px 0;
        }
    
        .caption {
            display: none;
            margin: 0;
            padding: 20px;
            background-color: @color__gallery-caption--background;
            overflow: hidden !important;
            border: 1px solid @color__gallery-title--text;
            padding: 10px;
            margin: 0;
            overflow: scroll;

            .caption-link {
                display: block;
                width: 100%;
                letter-spacing:0px;
            
                &:hover {
                    letter-spacing:0px;
                    text-decoration: none;
                }
            }
        
            .image-title {
                font-family: @font-swatch2-font-family;
                font-weight: @font-swatch2-font-weight;
                margin-bottom: 15px;
                word-break: break-word;
                text-transform:uppercase;
                color: @color__gallery-title--text;
                font-size: @font-swatch4-font-size;
                line-height: @font-swatch4-line-height;
                text-shadow: none;
            }
        
            .image-description {
                font-family: @font-swatch5-font-family;
                font-size: @font-swatch5-font-size;
                font-weight: @font-swatch5-font-weight;
                line-height: @font-swatch5-line-height;
                word-break: break-word;
                color: @color__gallery-description--text;
                text-shadow: none;
            }
        }

        &:hover .caption {
            text-align: center;
            position: absolute;
            top: 7.5px;
            bottom: 7.5px;
            left: 7.5px;
            right: 7.5px;
            display: block;
            padding: 25px;
            opacity: 0;
            overflow: scroll;
        
            @media @tablet {
                top: 5px;
                bottom: 5px;
                left: 5px;
                right: 5px;
            }
        
            @media @mobile {
                top: 7.5px;
                bottom: 7.5px;
                left: 0;
                right: 0;
            }
        
            &:hover {
                border: 15px solid @color__gallery-title--text !important;
                .transition(all, 0.2s, ease-in-out);
                opacity: 1;
            }
        
            .responsivecolumns & {
                &:after {
                    display: none;
                }
            }
        }
    }

    .image-link {
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-bottom: 100%;
    }

    .image {
        display: none;
    }
}
    
// SLIDESHOW

.slides-list {
    padding: 0px;
}

.responsiveslideshow {
    margin-bottom: 80px;
    position: relative;

    @media @mobile {
        margin-bottom: 60px;
    }

    .figure {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        -webkit-background-position: center;
        -moz-background-position: center;
        -o-background-position: center;
        min-height: 650px;
        padding: 0px;
        
        .responsivecolumns & {
            min-height: 600px;
        }

        @media @tablet-to-desktop {
            min-height: 450px;
        }

        @media @tablet {
            min-height: 400px;
        }

        @media @mobile {
            min-height: 600px;
        }

        @media @mobile-small-to-mobile {
            min-height: 650px;
        }

        .caption {
            position: absolute;
            bottom: 0;
            width: 100%;
            margin: 0;
            padding: 14px 20px 10px;
            background-color: @color__slideshow-caption--background;
            overflow: hidden;

            @media @mobile {
                padding: 3px 20px;
            }

            .responsivecolumns & {
                padding: 3px 20px;
            }

            .image-title {
                font-weight: 600;
                text-transform: uppercase;
                color: @color__slideshow-title--text;
                font-family: @font__h1--font-family;
            }
    
            .image-title,
            .image-description {
                font-size: 12px;
                line-height: 18px;
            }
    
            .image-description {
                padding: 6px 0 6px;
                color: @color__slideshow-description--text;
            }
        }
    }

    .image {
        display: none !important;
    }

    .slide-navigation {
        position: absolute;
        top: 50%;
        width: 100%;
        margin: 0;

        .pause-toggle,
        .play-toggle.button,
        .previous-button,
        .next-button {
            width: 64px;
            height: 64px;
            background-color: @color__slideshow-caption--background;
            position: absolute;
            line-height: 1em;
            font-size: 1em;
            color: @color__slideshow-title--text !important;
            margin-top: -32px;
            padding: 0;

            &:hover {
                background-color: darken(@color__slideshow-caption--background, 5%);
            }
        }

        .previous-button {
            span.control-text {
                display: none;
            }

            &.icon--previous:before {
                left: 10px;

                @media @mobile {
                    left: 50%;
                    position: absolute;
                    bottom: auto;
                    font-size: 12px !important;
                    top: 50%;
                    margin-top: -5px;
                    margin-left: -3px;
                }

                .responsivecolumns & {
                    left: 50%;
                    position: absolute;
                    bottom: auto;
                    font-size: 12px !important;
                    top: 50%;
                    margin-top: -5px;
                    margin-left: -3px;
                }
            }
        }

        .next-button {
            right: 0px;

            span.control-text {
                display: none;
            }

            &.icon--next:after {
                @media @mobile {
                    left: 50%;
                    position: absolute;
                    bottom: auto;
                    font-size: 12px !important;
                    top: 50%;
                    margin-top: -5px;
                    margin-left: -3px;
                }

                .responsivecolumns & {
                    left: 50%;
                    position: absolute;
                    bottom: auto;
                    font-size: 12px !important;
                    top: 50%;
                    margin-top: -5px;
                    margin-left: -3px;
                }
            }
        }

        .pause-toggle,
        .play-toggle.button {
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0%);
            padding: 0px 7px 0px 12px;

            .icon:before {
                margin-right: 0px;
            }

            span.control-text {
                display: none;
            }

            @media @mobile {
                &.icon--play:before,
                &.icon--pause.pause:before {
                    left: 12px;
                    bottom: 0px;
                    font-size: 12px!important;
                }
            }

            .responsivecolumns & {
                &.icon--play:before,
                &.icon--pause.pause:before {
                    left: 12px;
                    bottom: 0px;
                    font-size: 12px!important;
                }
            }
        }
    }

    .slide-pagination {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -60px;
        padding: 20px;
    }
    
    .pagination-list {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    
    .pagination-item {
        display: inline-block;
        
        .button {
            background-color: @color__slideshow-pagination-item--background;
            border: 1px solid darken(@color__slideshow-pagination-item--background, 30%);
            border-radius: 50%;
            width: 8px!important;
            height: 8px!important;
            min-height: auto;
            margin: 0 4px;
            cursor: pointer;
            padding: 0px!important;
            color: transparent;

		    .style--light & {
                background-color: @color__slideshow-pagination-item--background;
		        border-color: darken(@color__slideshow-pagination-item--background, 30%);
		    }

		    .style--accent & {
		        background-color: @color--accent;
		        border-color: darken(@color--accent, 30%);
		    }

		    .style--dark & {
		        background-color: @color--dark;
		        border-color: darken(@color--dark, 30%);
		    }
    
            @media @mobile {
                width: 12px !important;
                height: 12px !important;
            }
        }
    
        &.selected .button {
            background-color: @color__slideshow-pagination-item--background--selected;
            border: 1px solid darken(@color__slideshow-pagination-item--background--selected, 30%) !important;
            border: none;
            padding: 0px !important;

		    .style--light & {
                background-color: @color__slideshow-pagination-item--background--selected;
		        border-color: darken(@color__slideshow-pagination-item--background--selected, 30%) !important;
		    }

		    .style--accent & {
		        background-color: @color--dark;
		        border-color: darken(@color--accent, 30%) !important;
		    }

		    .style--dark & {
		        background-color: @color--accent;
		        border-color: darken(@color--dark, 30%) !important;
		    }
        }
    }
}

// BUTTONS

button, .button,
.buttonwidget__button,
.button.contactform__button,
.button.signupform__button,
.advancedcontactform__button,
.button.button--submit,
.userregistration fieldset .userregistrationbtn,
.widget.profile fieldset button.btn,
.widget.signupform fieldset button.btn,
.blog-search-submit-button,
.productlist-search button,
.widget.ecombasket .ecombasket-list-container ul li .ecombasket-item-info .ecombasket-remove-button,
.ecombasket-summary-link,
.basket-summary-submit,
a.basket-summary-empty-cta.btn,
button.ecombasket-remove-button.js-remove,
.button.button--submit.blogsearch__button,
.blogpostlist__read-more,
.button--submit.ecomproductslist__button,
.continue-shopping.button,
.contentgroup__link,
.ecomproductslist__button--clear {
    background-color: @color__button--background;
    display: inline-block;
    height: auto;
    color: @color__button--text;
    font-family: @font__button--font-family;
    font-weight: @font__button--font-weight;
    line-height: @font__button--line-height;
    position: relative;
    padding: 1.2em 3em;
	.transition(all, 0.3s, ease);
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    text-align: center;
    min-height: 50px;
    word-break: break-word;

    .style--light & {
        background-color: @color__button--background;
        color: @color__button--text;
    }

    .style--accent & {
        background-color: @color--dark;
        color: @contrast--dark;
    }

    .style--dark & {
        background-color: lighten(@color--accent, 30%);
        color: @color--accent;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: @color__button--background--hover;
        color: @color__button--text--hover;

	    .style--light & {
            background-color: @color__button--background--hover;
            color: @color__button--text--hover;
	    }

	    .style--accent & {
	        background-color: darken(@color--dark, 10%);
	        color: @contrast--dark;
	    }

	    .style--dark & {
	        background-color: lighten(@color--accent, 20%);
	        color: @color--accent;
	    }
    }

    @media @mobile {
        width: 100%;
    }

    .responsivecolumns & {
        width: 100%;
    }
}

.widget__paypal,
.widget__tweet,
.widget__dropbox,
.widget__clicktocall,
[data-name="filedownload"] {
    a.button.tweet__button,
    button.dropbox__button,
    .phone-number-link,
    .icon--filedownload {
        background-color: @color__button--background;
        color: @color__button--text;
        font-family: @font__button--font-family;
        padding: 1.1em 3em;
        text-transform: uppercase;
        font-weight: 700;

	    .style--light & {
            background-color: @color__button--background;
            color: @color__button--text;
		}

	    .style--accent & {
		    background-color: @color--dark;
		    color: @contrast--dark;
		}

	    .style--dark & {
	        background-color: lighten(@color--accent, 30%);
	        color: @color--accent;
	    }

        &:before {
            font-size: 1.25em;
        }

        &:hover {
			.transition(all, 0.2s, ease);
            background-color: @color__button--background--hover;
            color: @color__button--text--hover;

		    .style--light & {
                background-color: @color__button--background--hover;
                color: @color__button--text--hover;
			}

		    .style--accent & {
			    background-color: darken(@color--dark, 10%);
			    color: @contrast--dark;
			}

		    .style--dark & {
		        background-color: lighten(@color--accent, 20%);
		        color: @color--accent;
		    }
        }
    }
}

.widget button.btn span,
.clicktocall__label {
	color: @font-swatch7-color;

	.style--light & {
        color: @font-swatch7-color;
	}

	.style--accent & {
		color: @contrast--dark;
	}

	.style--dark & {
		color: @contrast--accent;
	} 
}

// FORMS

// CONTACT & #SIGNUP & BLOGSEARCH FORM

.form-group,
.form-group .advancedcontactform {
    padding: 0;
    margin-top: 0;
}

.fieldset--search,
.signupform__fieldset,
.blogsearch__fieldset {
    margin: 40px 0px!important;
}

.widget__contactform,
.widget__profile .signupform,
.widget__blogsearch {
    margin-bottom: 40px;
}

.contactform__legend,
.signupform__legend,
.blogsearch__legend {
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
}

.contactform__button,
.signupform__button,
.blogsearch__button {
    float: left;
    background-color: @color__button--background;
    color: @contrast--dark;

    .style--light & {
        background-color: @color__button--background;
	    color: @contrast--dark;
	}

    .style--accent & {
	    background-color: @color--dark;
	    color: @contrast--dark;
	}

    .style--dark & {
        background-color: lighten(@color--accent, 30%);
        color: @color--accent;
    }
    
    &:focus {
        outline: none;
    }

	&:hover {
    	background-color: @color__button--background--hover;
        color: @color__p--text;

	    .style--light & {
            background-color: @color__button--background--hover;
		    color: @color__p--text;
		}

	    .style--accent & {
		    background-color: darken(@color--dark, 10%);
		    color: @contrast--dark;
		}

	    .style--dark & {
	        background-color: lighten(@color--accent, 20%);
	        color: @color--accent;
	    }
	}
}

.contactform__form-group {
    margin-top: 0px !important;
}

legend {
    display: none!important;
}

// Label

label, .label {
    font-size: 16px;
    font-weight: 500;
    font-family: @font__h4--font-family;
    color: @color__h4--text;
    text-transform: uppercase;
    pointer-events: none;
    transition: 240ms;
    text-align: left;
    word-break: break-word;

    .style--light & {
        color: @color__h4--text;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @color--accent;
    }
}

label.label--select,
label.label--variation,
label.label--filter {
	opacity: 1;
}

.form-group.focused label,
.form-group:focus > select label,
label.active {
    opacity: 1;
}

// Input

input,
input[type=search],
input[type=text],
input[type=email],
input[type="password"],
textarea,
select,
.contactform__input,
.signupform__input,
.blogsearch__input,
input#search-term {
    min-height: 3rem;
    height: auto !important;
    font-size: @font__p--font-size;
    font-family: @font__p--font-family;
    padding: 0 10px;
    box-shadow: none;
	.border-radius(0);
	.appearance(none);
    background-color: fade(@color__form--background, 90%);
    border: 1px solid fade(@color__form--border, 30%);
    border-bottom: 1px solid @color__form--border;
    color: @color__p--text;

    .style--light & {
        border-color: fade(@color__form--border, 30%);
        border: 1px solid fade(@color__form--border, 30%);
        border-bottom: 1px solid @color__form--border;
        color: @color__p--text;
    }

    .style--accent & {
        border-color: fade(@color--dark, 30%);
        border: 1px solid fade(@color--dark, 30%);
        border-bottom: 1px solid @color--dark;
        color: @color__p--text;
    }

    .style--dark & {
        border-color: fade(@color--accent, 30%);
        border: 1px solid @color--accent;
        border-bottom: 1px solid @color--accent;
        color: @color__p--text;
    }

    &:hover,
    &:focus {
        background-color: @color__form--background;
        box-shadow: none;
        border: 1px solid fade(@color__form--border, 40%);
        border-bottom: 1px solid @color__form--border;

        .style--light & {
            border-color: fade(@color__form--border, 40%);
            border-bottom: 1px solid @color__form--border;
        }
    
        .style--accent & {
            border-color: fade(@color--dark, 40%);
            border-bottom: 1px solid @color--dark;
        }
    
        .style--dark & {
            border-color: fade(@color--accent, 40%);
            border-bottom: 1px solid @color--accent;
        }
    }
}

input,
input[type=search],
input[type=text],
input[type=email],
.contactform__input,
.signupform__input,
.blogsearch__input {
    width: 100%;
    min-height: 50px;
}

input.js-email.email {
    width: 100%;
}

::-moz-placeholder {
    color: transparent;
    transition: 240ms;

    .form-group.focused & {
        color: fade(@color__p--text, 60%);
    
        .style--light & {
            color: fade(@color__p--text, 60%);
        }
    
        .style--accent & {
            color: fade(@color__p--text, 60%);
        }
    
        .style--dark & {
            color: fade(@color__p--text, 60%);
        }
    }
}

::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;

    .form-group.focused & {
        color: fade(@color__p--text, 60%);
    
        .style--light & {
            color: fade(@color__p--text, 60%);
        }
    
        .style--accent & {
            color: fade(@color__p--text, 60%);
        }
    
        .style--dark & {
            color: fade(@color__p--text, 60%);
        }
    }
}

:focus {
    &[placeholder] {
        transition: none;
    }

    &::-moz-placeholder {
        transition: none;
    }

    &::-webkit-input-placeholder {
        transition: none;
    }
}

.contactform__input,
.signupform__input,
.blogsearch__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 42px;
    width: 100%;
    border: 0;
    display: inline-block;
    vertical-align: top;
    color: @color__p--text;
    
    .style--light & {
        color: @color__p--text;
    }

    .style--accent & {
        color: @color__p--text;
    }

    .style--dark & {
        color: @color__p--text;
    }
}

// Textareas

textarea {
    resize: vertical;
    min-height: 150px;
    padding: 10px;
    width: 100%;
}

// Dropdown

.select-wrap {
	position: relative;

    .advancedcontactform & {
        max-width: 50%;

        @media @tablet {
            max-width: 100%;
        }
    
        .responsivecolumns & {
            max-width: 100%;
        }
    }
}

select {
    position: relative;
    appearance: none;
    width: 100%;
    cursor: pointer;
    border: none;
    border: 1px solid @color__form--border;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0 2.5em 0 10px !important;
    display: block;
    background-image: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNCI+Cgk8cG9seWxpbmUgc3Ryb2tlPSIjNzY3ODgwIiBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9IjMiIHBvaW50cz0iMjAuMSw4LjYgMTIsMTYuNyAzLjksOC42IiAvPgo8L3N2Zz4=");
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    background-size: 1.5em;
    text-overflow: ellipsis;
    
    .style--light & {
        border-color: @color__form--border;
    }

    .style--accent & {
        border-color: @color--dark;
    }

    .style--dark & {
        border-color: @color--accent;
    }

    &.selected,
    &:selected,
    &:hover,
    &:focus {
        background-color: fade(@color__form--background, 60%);
        border: 1px solid @color__form--border;
    
        .style--light & {
            border-color: @color__form--border;
        }
    
        .style--accent & {
            border-color: @color--dark;
        }
    
        .style--dark & {
            border-color: @color--accent;
        }
    }
    
    span {
        color: initial;
        position: absolute;
        right: 0;
        top: 16px;
        font-size: 10px;
    }

    option {
        background-color: @color__form--background;
        color: @color__p--text;
    }
}

// Radiobuttons and Checkboxes

.form-group,
.advancedcontactform__form-group {
	position: relative;
}

.option-list,
.advancedcontactform__option-list,
.widget .advancedcontactform .form-group.advancedcontactform__form-group--terms,
.widget .contactform .form-group.contactform__form-group--terms,
.widget .signupform .form-group.signupform__form-group--terms,
.widget .signupform .form-group.profile__form-group.profile__form-group--terms {
    padding: 0px;
	width: 100%;

	input[type="radio"],
	input[type="checkbox"] {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		height: 100% !important;

		&:checked + label:after {
			opacity: 1;
		}
	}
}

.option-item.option-item--radio,
.option-item.option-item--checkbox,
.widget .advancedcontactform .form-group.advancedcontactform__form-group--terms,
.widget .contactform .form-group.contactform__form-group--terms,
.widget .signupform .form-group.signupform__form-group--terms,
.widget .signupform .form-group.profile__form-group.profile__form-group--terms {
    display: block;
	position: relative;
	width: 100%;
	margin-bottom: 18px;
    line-height: @font__p--line-height;
    min-height: @font__p--line-height;

	label,
    .form__link {
		position: relative;
		cursor: pointer;
		display: block;
		text-transform: none;
        font-size: 16px;
		font-weight: 300;
        font-family: @font__h4--font-family;
		transform: scale(1);
		line-height: 1.4em;
        color: @color__p--text;
        min-height: 1.4em;
    
        .style--light & {
            color: @color__p--text;
        }
    
        .style--accent & {
            color: @contrast--accent;
        }
    
        .style--dark & {
            color: @contrast--dark;
        }
    }

    label {
		margin-left: 40px;
        
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: -40px;
			width: 20px;
			height: 20px;
			margin-top: -9px;
			background-color: @bg-color;
			border: 1px solid @color__h1--text;
            min-width: 20px !important;
            border-radius: 0;

            .style--light & {
                border-color: @color__h1--text;
            }

            .style--accent & {
                border-color: @color--dark;
            }
        
            .style--dark & {
                border-color: @color--accent;
            }
		}

		&:after {
			opacity: 0;
			content: '';
			position: absolute;
			top: 50%;
			left: -36px;
			width: 12px;
			height: 12px;
			margin-top: -5px;
			background-color: @color__h1--text;

            .style--light & {
                background-color: @color__h1--text;
            }

            .style--accent & {
                background-color: @color--dark;
            }
        
            .style--dark & {
                background-color: @color--accent;
            }
		}
	}
}
	
.option-item.option-item--radio {
	label {
		&:before {
			border-radius: 10px;
		}

		&:after {
			border-radius: 10px;
		}
	}
}

.label--radio,
.label--checkbox,
label[for*="input--terms"],
label[for*="input--terms"] span a.form__link {
    opacity: 1;
    word-break: break-word;
}

.widget .advancedcontactform .form-group.advancedcontactform__form-group--terms,
.widget .contactform .form-group.contactform__form-group--terms,
.widget .signupform .form-group.signupform__form-group--terms,
.widget .signupform .form-group.profile__form-group.profile__form-group--terms {
    display: block;
    margin-top: 36px;
    margin-left: 1px;

    .form__link {
        text-decoration: underline;
        color: @color__p--text;
    
        .style--light & {
            color: @color__p--text;
        }
    
        .style--accent & {
            color: fade(@contrast--accent, 90%);
        }
    
        .style--dark & {
            color: fade(@contrast--dark, 90%);
        }
    }
}

// Advanced Contact Form

.advancedcontactform {
    text-align: left;
    width: 100%;
	
    .form-group {
        .error {
            border-bottom: 2px solid @message-color--error !important;
            
            &:focus {
                box-shadow: none;
            }
        }
    }

    .form {
        text-align: left;
        width: 100%;
    }

    .legend {
        margin-bottom: 20px;
    }

    input.error {
        border: none !important;
    }
	
    textarea.error {
        border: 1px solid @message-color--error !important;
    }
}

// Registration Form

.widget__userregistration {
	fieldset {
		margin: 0 auto;
		padding: 0;
		border: none;
		max-width: 400px;
		
		@media @mobile {
			max-width: none;
		}

		.responsivecolumns & {
			max-width: none;
		}

		input {
			width: 100%;
			box-sizing: border-box;
		}

		.error {
			padding: 20px 0 0;

			&[style*="display: block"] {
				padding: 20px 0;
			}

			&[style*="display: none"] {
				display: block !important;
			}
		}
	}
}

// SOCIAL ICONS

.widget__socialicons,
.widget__profile .profile__socialicons {
    margin: 40px 0px;
}

.socialicons__social-list {
    padding: 0px;
	margin-left: -5px;
	margin-right: -5px;
}

.socialicons__social-item {
    display: inline-block;
    background-color: @color__button--background;
    padding-bottom: 0;
    width: 36px;
    height: 36px;
    margin: 7px 5px;
    text-align: center;

    .style--light & {
        background-color: @color__button--background;
	}

    .style--accent & {
	    background-color: @color--dark;
	}

    .style--dark & {
        background-color: lighten(@color--accent, 30%);
    }

    &:hover {
        background-color: @color__button--background--hover;
        .transition(all, 0.2s, ease);

	    .style--light & {
            background-color: @color__button--background--hover;
		}

	    .style--accent & {
		    background-color: darken(@color--dark, 10%);
		}

	    .style--dark & {
	        background-color: lighten(@color--accent, 20%);
	    }
    }
}

a.socialicons__social-link,
a.social-link {
    color: @color__button--text;
    margin: 0;
    background-color: transparent;
    line-height: 36px;
    text-align: center;
    width: 100%;
    display: block;

    .style--light & {
        color: @color__button--text;
	}

    .style--accent & {
	    color: @contrast--dark;
	}

    .style--dark & {
        color: @color--accent;
    }

    &:before {
        margin-right: 0;
        font-size: 20px;
    }

    &:hover {
        color: @color__button--text--hover;
        .transition(all, 0.1s, ease);

	    .style--light & {
            color: @color__button--text--hover;
		}

	    .style--accent & {
		    color: @contrast--dark;
		}

	    .style--dark & {
	        color: @color--accent;
	    }
    }
}

.socialicons__social-name {
    display: none;
}

// TWITER FEED

.widget__twitter,
.profile__twitter {
    margin-bottom: 40px;
}

.twitter {
    .tweet-list {
        padding: 0px;
    }
    
    .tweet-item {
        padding: 20px;
        margin-bottom: 1em;
        background-color: @color__twitter-item--background;
        border: 1px solid @color__h1--text;

		.style--light & {
            background-color: @color__twitter-item--background;
		    border-color: @color__h1--text;
		}

		.style--accent & {
			background-color: @color--accent;
		    border-color: @contrast--accent;
		}

		.style--dark & {
			background-color: @color--dark;
		    border-color: @color--accent;
		}
    
        &:after {
            display: block;
            content: '';
            clear: both;
        }
    }
    
    .avatar-image {
        width: 48px;
        height: 48px;
        float: left;
        margin-right: 0;
    }

    .timestamp,
    .twitter-feed__via {
        font-size: 0.8em;
        color: fade(@color__p--text, 90%);

	    .style--light & {
	        color: fade(@color__p--text, 90%);
	    }

	    .style--accent & {
	        color: fade(@contrast--accent, 90%);
	    }

	    .style--dark & {
	        color: fade(@contrast--dark, 90%);
	    }
    }
    
    .tweet-content {
        padding: 0;
    }
    
    .account-link {
        margin-bottom: 5px;
        text-transform: uppercase;
        font-family: @font-swatch4-font-family;
        font-size: @font__p--font-size;
        line-height: @font-swatch4-line-height;
        color: fade(@color__p--text, 90%);

	    .style--light & {
	        color: fade(@color__p--text, 90%);
	    }

	    .style--accent & {
	        color: fade(@contrast--accent, 90%);
	    }

	    .style--dark & {
	        color: fade(@contrast--dark, 90%);
	    }
    
        &:hover {
            text-decoration: none;
            .transition(all, 0.1s, ease);
        }
    }
    
    .account-name {
        font-family: @font__h4--font-family;
        font-size: @font__p--font-size;
        font-weight: @font__h4--font-family;
        color: @color__twitter-account-name--text;

	    .style--light & {
            color: @color__twitter-account-name--text;
	    }

	    .style--accent & {
	        color: @contrast--accent;
	    }

	    .style--dark & {
	        color: @color--accent;
	    }
    
        &:hover {
            color: darken(@color__h1--text, 5%);
            text-decoration: none!important;

		    .style--light & {
                color: darken(@color__h1--text, 5%);
		    }

		    .style--accent & {
		        color: darken(@contrast--accent, 5%);
		    }

		    .style--dark & {
		        color: darken(@color--accent, 5%);
		    }
        }
    }
}

.tweet-wrap {
	margin-left: 62px;

    a:hover {
        text-decoration: none;
    }
}

// LINE

.widget__line {
    padding: 0;
    margin-bottom: 40px;
}

hr.rule {
    background-color: @color__h1--text;
    margin: 0;
    height: 1px;

    .style--light & {
        background-color: @color__h1--text;
    }

    .style--accent & {
        background-color: @contrast--accent;
    }

    .style--dark & {
        background-color: @color--accent;
    }
}

// PROFILE

h3.description.companydescription__description {
    color: fade(@color__p--text, 90%);
    font-size: @font__h4--font-size;

    .style--light & {
        color: fade(@color__p--text, 90%);
    }

    .style--accent & {
        color: fade(@contrast--accent, 90%);
    }

    .style--dark & {
        color: fade(@contrast--dark, 90%);
    }
}

// MAP

.widget.map {
    border: 1px solid @color__h1--text;
    margin-bottom: 40px;

    .style--light & {
        border-color: @color__h1--text;
    }

    .style--accent & {
        border-color: @contrast--accent;
    }

    .style--dark & {
        border-color: @color--accent;
    }
}

// EMBEDS

.widget.embed .embed-default,
.widget .embed .embed-wrap {
	background: transparent;
	border: none;
	padding: 0;
	text-align: left;
}

.embed-content iframe {
	max-width: 100%;
}

// YOUTUBE

.widget.youtube {
    margin-bottom: 40px;
}

// YELP, SOUNDCLOUD

.widget.soundcloud,
.widget.facebookcomments,
.widget.donation,
.widget.yelpreview {
    margin-bottom: 40px;
}

.widget__yelpreview {
    border: 1px solid @color__h1--text;
    padding: 20px;
	margin-bottom: 20px;

    .style--light & {
        border-color: @color__h1--text;
    }

    .style--accent & {
        border-color: @contrast--accent;
    }

    .style--dark & {
        border-color: @color--accent;
    }

    .review-list {
        margin: 0;
        padding: 0;
    }
    
    .yelp-title {
        padding: 0;
    }
    
    .review-link {
        font-family: @font-swatch3-font-family;
        font-weight: @font-swatch3-font-weight;
        font-size: 12px;
        color: @color__button--text;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px;
        background-color: @color__button--background;
        margin-top: 5px;
        letter-spacing: 0.3px;

	    .style--light & {
            background-color: @color__button--background;
            color: @color__button--text;
		}

	    .style--accent & {
		    background-color: @color--dark;
		    color: @contrast--dark;
		}

	    .style--dark & {
	        background-color: lighten(@color--accent, 30%);
	        color: @color--accent;
	    }

        &:hover {
            background-color: @color__button--background--hover;
            color: @color__button--text--hover;
            cursor: pointer;
            letter-spacing:0.25px;
            .transition(all, 0.2s, ease);

		    .style--light & {
                background-color: @color__button--background--hover;
                color: @color__button--text--hover;
			}

		    .style--accent & {
			    background-color: darken(@color--dark, 10%);
			    color: @contrast--dark;
			}

		    .style--dark & {
		        background-color: lighten(@color--accent, 20%);
		        color: @color--accent;
		    }
        }
    }
    
    .review-text {
        padding-bottom:15px;
    }
    
    .review-footer {
        padding-top: 20px;
    }
    
    .timestamp {
        font-style: italic;
        font-size: 0.8em;
    }
    
    .author-label,
    .review-author {
        font-size: 15px;
        color: @color__p--text;

        .style--light & {
            color: @color__p--text;
	    }

	    .style--accent & {
	        color: fade(@contrast--accent, 90%);
	    }

	    .style--dark & {
	        color: fade(@contrast--dark, 90%);
	    }
    }
}