// HOSTSTAR MNAG TEMPLATE

// VARIABLES

@desktop-larger: ~"only screen and (max-width: 1800px)";
@desktop-large: ~"only screen and (max-width: 1200px)";
@tablet-to-desktop: ~"only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)";
@mobile-small-to-mobile: ~"only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape)";
@tablet-small: ~"only screen and (max-width: 700px)";

// GLOBAL MIXINS

.transition(@property, @duration, @ease) {
	-webkit-transition: @property @duration @ease;
	-moz-transition: @property @duration @ease;
    -ms-transition: @property @duration @ease;
	-o-transition: @property @duration @ease;
	transition: @property @duration @ease;
}

.box-sizing--border-box() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
    -ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.appearance(@property) {
	-webkit-appearance: @property;
	-moz-appearance: @property;
	appearance: @property;
}

// LESS INCLUDES

@import "@{templateCommon}/bk-less-framework-v8.less";
@import "@{templateLocal}/less/theme.less";
@import "@{templateLocal}/less/widgets.less";
@import "@{templateLocal}/less/plugins.less";

// MAIN

body {
	position: relative;
    background-color: #fff;
	font-smooth: always;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
}

// TYPOGRAPHY

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-bottom: 7px;
    text-transform: uppercase;
    word-break: break-word;
}

h1,
h2,
h3,
h4 {
    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @color--accent;
    }
}

h1,
h2,
h3 {
    padding-bottom: 15px;
}

h1 {
    color: @color__h1--text;
}

h2 {
    color: @color__h2--text;
}

h3 {
    color: @color__h3--text;
}

h4 {
    color: @color__h4--text;
}

h5 {
	.style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

a {
    color: @color__link--text;
    word-break: break-word;

    .style--light & {
		color: @color__link--text;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @color--accent;
    }

    &:hover {
        color: darken(@color__link--text, 5%);
        .transition(all, 0.1s, ease);
        text-decoration: none;

        .style--light & {
			color: darken(@color__link--text, 5%);
        }

        .style--accent & {
            color: darken(@contrast--accent, 5%);
        }

        .style--dark & {
            color: lighten(@color--accent, 5%);
        }
    }
}

h5,
.contentgroup__h5 {
	font-family: @font__h4--font-family;
	font-weight: @font__h4--font-weight;
	font-size: @font__h4--font-size;
	line-height: @font__h4--line-height;
	letter-spacing: @font__h4--letter-spacing;
	color: @color__h4--text;

	.make-font-a-little-smaller(@font__h4--font-size, 0.9);
	.make-font-smaller(@font__h4--font-size);
	.make-font-a-lot-smaller(@font__h4--font-size);
	
	.make-line-height-a-little-smaller(@font__h4--line-height, 0.9);
	.make-line-height-smaller(@font__h4--line-height);
	.make-line-height-a-lot-smaller(@font__h4--line-height);
}

h6,
.contentgroup__h6 {
	padding-bottom: 0.2em;
	font-family: @font__h4--font-family;
	font-weight: @font__h4--font-weight;
	font-size: @font__h4--font-size*0.8;
	line-height: @font__h4--line-height*0.8;
	color: @color__h4--text;

	.make-font-a-little-smaller(@font__h4--font-size, 0.7);
	.make-font-smaller(@font__h4--font-size, 0.7);
	.make-font-a-lot-smaller(@font__h4--font-size, 0.7, 0.6);
	
	.make-line-height-a-little-smaller(@font__h4--line-height, 0.7);
	.make-line-height-smaller(@font__h4--line-height, 0.7);
	.make-line-height-a-lot-smaller(@font__h4--line-height, 0.7, 0.6);
}

// Normal Text

p, .paragraph, ul, ol, li,
.contentgroup__body,
.contentgroup__body span,
.contentgroup__body small {
	font-family: @font__p--font-family;
	font-size: @font__p--font-size;
	font-weight: @font__p--font-weight;
	line-height: unit(@font__p--line-height*0.1, em);
	letter-spacing: @font__p--letter-spacing;
	color: @color__p--text;
	
	.make-font-a-little-smaller(@font__p--font-size);
	.make-font-smaller(@font__p--font-size);
	.make-font-a-lot-smaller(@font__p--font-size);

	.style--light & {
		color: @color__p--text;
	}

	.style--accent & {
		color: @contrast--accent;
	}

	.style--dark & {
		color: @contrast--dark;
	}
}

p {
    padding-bottom: 7px;
    line-height: 20px;

	> a:hover {
		font-weight: 700;
		.transition(all, 0.1s, ease);
		text-decoration: none;
		letter-spacing: 0px;
	}
}

p > a {
    &:hover {
        font-weight: 700;
        .transition(all, 0.1s, ease);
        text-decoration: none;
        letter-spacing: 0px;
    }
}

[data-name="content"],
[data-name="content"] li {
    color: @color__p--text;
    padding-bottom: 7px;
    line-height: 20px;

    .style--light & {
		color: @color__p--text;
    }

    .style--accent & {
        color: fade(@contrast--accent, 90%);
    }

    .style--dark & {
        color: fade(@contrast--dark, 90%);
    }
}

[data-name="content"],
.embed-content {
	font-size: @font__p--font-size !important;
	line-height: @font__p--line-height !important;

	&, p, span, small, pre, code,
	table, th, td {
		color: @color__p--text;
	
		.style--light & {
			color: @color__p--text;
		}
	
		.style--accent & {
			color: @contrast--accent;
		}
	
		.style--dark & {
			color: @contrast--dark;
		}
	}
}

// Preformatted and Code Text

pre, code {
	display: block;
	margin: 1em 0;
	padding: 1em;
	border: none;
	.border-radius(0);
	background-color: lighten(@color__h1--text, 30%);
	overflow: auto;
	font-family: monospace;
	font-size: 1em;

	.style--light & {
		background-color: lighten(@color__h1--text, 30%);
	}

	.style--accent & {
		background-color: fade(@contrast--accent, 10%);
	}

	.style--dark & {
		background-color: fade(@contrast--dark, 10%);
	}
}

code {
	border-left: 1px solid @color__h1--text;

	.style--light & {
		border-color: @color__h1--text;
	}

	.style--accent & {
		border-color: @contrast--accent;
	}

	.style--dark & {
		border-color: @contrast--dark;
	}
}

// Blockquote

blockquote {
    padding: 20px 30px;
    border: 15px solid lighten(@color__h1--text, 30%);
    color: @color__h1--text;
    font-family: @font__h1--font-family;
    font-size: 28px;
    line-height: 1.6em;
    margin: 25px 0px;
    word-break: break-word;

	.style--light & {
		border-color: lighten(@color__h1--text, 30%);
		color: @color__h1--text;
	}

	.style--accent & {
		border-color: fade(@contrast--accent, 30%);
		color: @contrast--accent;
	}

	.style--dark & {
		border-color: @color--accent;
		color: @color--accent;
	}

    @media @mobile {
    	padding: 8px 30px 15px;
        font-size: 20px;
    	border-width: 10px;
    }

    &:before {
        content: open-quote;
        left: -10px!important;
        position: relative!important;
        font-family: georgia, serif;
        font-size: 3.05em!important;
        top: 20px!important;
    }

	&:after {
		display: none;
	}
} 

// Unordered and Ordered List

.widget .content,
.blogpost__post-body,
.ecomproduct__product-body {
	ul {
		margin: 0.5em 0 0.5em 2em;
		padding-left: 0;
		list-style: none;
	
		li {
			position: relative;
			padding: 0;
			margin: 0 0 0.25em 0;
	
			&:before {
				position: absolute;
				content: '\2022';
				left: -2em;
			}
		}
	}
	
	ol {
		margin: 0.5em 0;
		padding-left: 0;
		counter-reset: ordered-counter;
	
		li {
			position: relative;
			padding-left: 2em;
			margin: 0 0 0.25em 0;
			list-style-type: none;
	
			// Custom Numbers
	
			&:before {
				min-width: 2em;
				padding: 0 0.4em 0 0;
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				.box-sizing(border-box);
				content: counter(ordered-counter) ".";
				counter-increment: ordered-counter;
				text-align: left;
			}
		}
	}
}

.content .widget-overlay {
	ul.list--options {
		margin: 0;
		padding: 0;
	
		li.item--option {
			margin: 0;
			padding: 0;
	
			&:before {
				content: none;
			}
		}
	}
}

// Legend

legend {
    text-transform: uppercase;
    font-weight: 700;
}

// TABLE

table, th, td {
	border: 1px solid fade(@color__h1--text, 30%);

    .style--light & {
        border-color: fade(@color__h1--text, 30%);
    }

    .style--accent & {
        border-color: fade(@contrast--accent, 30%);
    }

    .style--dark & {
        border-color: fade(@color--accent, 30%);
    }
}

table {
	overflow: auto;
	min-width: 100%;
	border: none;
	border-collapse: separate;
	border-spacing: 0;
	border-top: 1px solid @color__p--text;
	margin: 0;
	hyphens: auto;
	color: @color__p--text;

	.style--light & {
		border-top-color: @color__p--text;
		color: @color__p--text;
	}

	.style--accent & {
		border-top-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		border-top-color: @contrast--dark;
		color: @contrast--dark;
	}
}

// Table Cell

td, th {
	border: none;
	background-color: transparent;
}

th {
	padding: 0.5em;
	border-bottom: 1px solid @color__p--text;
	text-align: left;
	font-family: @font__h4--font-family;
	font-weight: @font__h4--font-weight;
	font-size: @font__h4--font-size;
	line-height: @font__h4--line-height;
	letter-spacing: @font__p--letter-spacing;
	color: @color__h4--text;

	.style--light & {
		border-bottom-color: @color__p--text;
		color: @color__h4--text;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
		color: @contrast--dark;
	}
	
	@media @mobile {
		display: none;
	}
	
	.responsivecolumns & {
		display: none;
	}
}

td {
	border-bottom: 1px solid fade(@color__p--text, 60%);
	padding: 1em 0.5em;
	font-family: @font__p--font-family;
	font-weight: @font__p--font-weight;
	font-size: @font__p--font-size;
	line-height: @font__p--line-height;
	letter-spacing: @font__p--letter-spacing;

	.style--light & {
		border-bottom-color: fade(@color__p--text, 60%);
	}

	.style--accent & {
		border-bottom-color: fade(@contrast--accent, 60%);
	}

	.style--dark & {
		border-bottom-color: fade(@contrast--dark, 60%);
	}
	
	@media @mobile {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;
		width: 100% !important;
		max-width: 100%;
	}
	
	.responsivecolumns & {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;
		width: 100% !important;
		max-width: 100%;
	}
	
	&:first-child {
		@media @mobile {
			padding: 1em 0.5em 0;
		}

		.responsivecolumns & {
			padding: 1em 0.5em 0;
		}
	}
	
	&:last-child {
		@media @mobile {
			padding: 0 0.5em 1em;
			border-bottom: 1px solid fade(@color__p--text, 60%);
		
			.style--light & {
				border-bottom-color: fade(@color__p--text, 60%);
			}
		
			.style--accent & {
				border-bottom-color: fade(@contrast--accent, 60%);
			}
		
			.style--dark & {
				border-bottom-color: fade(@contrast--dark, 60%);
			}
		}

		.responsivecolumns & {
			padding: 0 0.5em 1em;
			border-bottom: 1px solid fade(@color__p--text, 60%);
		
			.style--light & {
				border-bottom-color: fade(@color__p--text, 60%);
			}
		
			.style--accent & {
				border-bottom-color: fade(@contrast--accent, 60%);
			}
		
			.style--dark & {
				border-bottom-color: fade(@contrast--dark, 60%);
			}
		}
	}
}

tr:last-child td {
	border-bottom: 1px solid @color__p--text;

	.style--light & {
		border-bottom-color: @color__p--text;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
	}
	
	@media @mobile {
		border-bottom: none;
	}
	
	.responsivecolumns & {
		border-bottom: none;
	}
	
	&:last-child {
		@media @mobile {
			border-bottom: 1px solid @color__p--text;
		
			.style--light & {
				border-bottom-color: @color__p--text;
			}
		
			.style--accent & {
				border-bottom-color: @contrast--accent;
			}
		
			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}

		.responsivecolumns & {
			border-bottom: 1px solid @color__p--text;
		
			.style--light & {
				border-bottom-color: @color__p--text;
			}
		
			.style--accent & {
				border-bottom-color: @contrast--accent;
			}
		
			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}
	}
}

// Page Container

.bk-zone {
    min-height: 40px;
}

.container {
	margin: 0 auto;
    width:80%;
}

.iconfill {
    fill: @color__button--text !important;
    
    &:hover {
        fill: @color__button--text--hover !important;
    }
}
